
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Landing Page - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/mon_compte/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/static/mon_compte/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/static/mon_compte/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="/static/mon_compte/css/landing-page.min.css" rel="stylesheet">


  <!-- Custom CSS -->
  <link href="/static/home/css/stylish-portfolio.min.css" rel="stylesheet">

  
</head>

<body>


  <!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="#page-top">Menu</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="">Accueil</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="compte">Mon Compte</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="compte#cv_icone">Mes Documents</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="le_questionnaire">Le Questionnaire</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="app_email/questionnaire_email">Ma démarche</a>
      </li>
    </ul>
  </nav>




  <!-- Masthead -->
  <header class="masthead text-white text-center"
      style="background: no-repeat url('/static/home/img/bg-callout.jpg');">
      
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Construisez votre avenir, Faites vos documents selon nos conseils</h1>
        </div>
      </div>
    </div>
  </header>




  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">


            <h5>Faites vos documents en suivant les étapes que nous vous conseillons.
            Prenez votre temps! Etallez cela sur plusieurs jours si nécéssaire.
            Nous nous chargeons du reste en envoyant
            toutes vos informations à de potentiels recruteurs !<br><br><br></h5>
            
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          
            <div class="features-icons-icon d-flex"
                onclick="cv()">
            
              <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            
            <h3>Curriculum Vitae</h3>
            
            <p class="lead mb-0" style="text-align:justify;">
                Votre CV vous sert de vitrine. C'est ce qui va renseigner
                le recruteur ce qui vous interrese, sur ce que vous savez
                faire et ce qui vous passione !
            
            </p>
            <br><br>
            <a href="page_cv">Visulaliser mon Curriculum Vitae</a>
            <a href="compte">Mon Curriculum Vitae</a>
          </div>
        </div>



        
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          
            <div class="features-icons-icon d-flex"
                onclick="lettre()">

                
              <i class="icon-layers m-auto text-primary"></i>
            </div>
            
            <h3>Lettre de Motivation</h3>
            
            <p class="lead mb-0" style="text-align:justify;">
            
            </p>
            <a href="page_motivation">Visualiser ma lettre de motivation</a>
            <a href="compte">Ma lettre de motivation</a>
          </div>
        </div>




        
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          
            <div class="features-icons-icon d-flex"
                onclick="message()">

            
              <i class="icon-check m-auto text-primary"></i>
            </div>
            
            <h3>Message à l'employeur</h3>
            
            <p class="lead mb-0" style="text-align:justify;">

            
            </p>
            <a href="page_message">Visualiser mon message au recruteur</a>
            <a href="compte">Mon message au recruteure</a>
          </div>
        </div>

        
      </div>
    </div>
  </section>









  <!-- Image Showcases -->
  
  <section class="showcase" id="section_cv">
    <div class="container-fluid p-0">
      <div class="row no-gutters">



        <div class="col-lg-6 order-lg-2">
            <input type="text" value="{{metier}}" id="metier" style="width:100%;"><br>
            <input type="text" value="{{formation}}" id="formation" style="width:100%;">
            
            <TEXTAREA name="nom" style="width:100%;height:100%;" id="first">{{cv1}}</TEXTAREA>
        </div>
            
        <div class="col-lg-6 order-lg-1 my-auto showcase-text"
            style="background:#B8D9E3">

            
          <h2>Curriculum Vitae<br><br>Première étape</h2>
          
          <p class="lead mb-0">
              1) - Renseignez-nous sur votre métier et
              sur votre formation si vous en avez une.<br>

              2) - Que cherchez-vous ?<br>

              3) - Quels sont vos atouts ?
              <br><br>
              
              {% if user.is_authenticated %}
              <center>
                  <input type="button" Value="Valider" id="valider_premiere">
              </center>
              {% else %}
              {% endif %}
          </p>


          <center><div id="first_validation"></div></center>
   
        </div>
      </div>





      
      <div class="row no-gutters">
        <div class="col-lg-6">
            <TEXTAREA name="nom" style="width:100%;height:100%;" id="second">{{cv2}}</TEXTAREA>
        </div>
            
        <div class="col-lg-6 my-auto showcase-text" style="background:#9DC8D5">
          <h2>Deuxième étape</h2>
          <p class="lead mb-0">
              1) - Identifier vos compétences et notez les sur 10 !


             {% if user.is_authenticated %}
              <input type="button" Value="Valider" id="valider_deuxieme">
              {% else %}
              {% endif %}
              
        </p>


          <div id="second_validation"></div>
       
        </div>
      </div>

      
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2">
            <TEXTAREA name="nom" style="width:100%;height:100%;" id="third">{{cv3}}</TEXTAREA>
        </div>
            
        <div class="col-lg-6 order-lg-1 my-auto showcase-text" style="background:#89BAC9">
          <h2>Troisième étape</h2>
          <p class="lead mb-0">
              1) - Maintenant renseignez le recruteur sur vos outils de travail, en somme
              votre environement de travail !

     


              {% if user.is_authenticated %}
              <center><input type="button" Value="Valider" id="valider_troisieme"></center>
              {% else %}
              {% endif %}


              

          </p>


          <div id="third_validation"></div>
    
        </div>
      </div>



      <div class="row no-gutters">
        <div class="col-lg-6">
            <TEXTAREA name="nom" style="width:100%;height:100%;" id="fourth">{{cv4}}</TEXTAREA>
        </div>
            
        <div class="col-lg-6 my-auto showcase-text" style="background:#639AAB">
          <h2>Quatrième étape</h2>
          <p class="lead mb-0">
            1) - Passons a vos SOFT SKILL. Un soft skill est vos qualités d'Humain.
                


              {% if user.is_authenticated %}
              <input type="button" Value="Valider" id="valider_quatrieme">
              {% else %}
              {% endif %}

              
          </p>

          <div id="fourth_validation"></div>
       
        </div>
      </div>



      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2">
            <TEXTAREA name="nom" style="width:100%;height:100%;" id="fifty">{{cv5}}</TEXTAREA>
        </div>
            
        <div class="col-lg-6 order-lg-1 my-auto showcase-text" style="background:#52899A">
          <h2>Cinquième étape</h2>
          <p class="lead mb-0">
              1) - Vous allez mettre tous vos diplomes ou formations maintenant.
              Si vous n'en avez pas passez. Ne vous inquiétez pas ! Le bilan peut vous aider !
              {% if user.is_authenticated %}
              <input type="button" Value="Valider" id="valider_cinquieme">
              {% else %}
              {% endif %}

              
          </p>

          <div id="fifty_validation"></div>

          
        </div>
      </div>


      <div class="row no-gutters">
        <div class="col-lg-6">

            <input type="text" value="{{poste1}}" style='width:100%;' id="poste1">
        
            <TEXTAREA name="nom" style="width:100%;height:100%;" id="sixty_one">{{cv6_1}}</TEXTAREA>
       
            
            
        </div>
            
        <div class="col-lg-6 my-auto showcase-text" style="background:#3A7182">
          <h2>Sixième étape - Premier projet</h2>
          <p class="lead mb-0">
           Maintenant nous allons faire vos 3 anciens travails ou projets en lien avec
          l'emploi recherché.<br>

          1) - Placez le titre<br>
          2) - puis mettez les taches que vous deviez effectué.
 

          



              {% if user.is_authenticated %}
              <input type="button" Value="Valider" id="valider_sixieme_un">
              {% else %}
              {% endif %}


              
          </p>

          <div id="sixty_validation"></div>


        </div> 
      </div>







      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2">

            <input type="text" value="{{poste2}}" style='width:100%;' id="poste2">
            
            <TEXTAREA name="nom" style="width:100%;height:100%;" id="sixty_two">{{cv6_2}}</TEXTAREA>
        </div>
            
        <div class="col-lg-6 order-lg-1 my-auto showcase-text" style="background:#89BAC9">
          <h2>Sixième étape - Deuxième projet</h2>
          <p class="lead mb-0">
              1) - Maintenant renseignez le recruteur sur vos outils de travail, en somme
              votre environement de travail !

     


              {% if user.is_authenticated %}
              <center><input type="button" Value="Valider" id="valider_sixieme_deux"></center>
              {% else %}
              {% endif %}


              

          </p>


          <div id="sixty_validation"></div>
    
        </div>
      </div>









      <div class="row no-gutters">
        <div class="col-lg-6">

            <input type="text" value="{{poste3}}" style='width:100%;' id="poste3">
            
            <TEXTAREA name="nom" style="width:100%;height:100%;" id="sixty_three">{{cv6_3}}</TEXTAREA>
            
        </div>
            
        <div class="col-lg-6 my-auto showcase-text" style="background:#3A7182">
          <h2>Sixième étape - Troisème projet</h2>
          <p class="lead mb-0">
            <br>

          1) - Placez le titre<br>
          2) - puis mettez les taches que vous deviez effectué.

          



              {% if user.is_authenticated %}
              <input type="button" Value="Valider" id="valider_sixieme_trois">
              {% else %}
              {% endif %}


              
          </p>

          <div id="heighty_validation"></div>





        </div> 
      </div>




      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2">


            <TEXTAREA name="nom" style="width:100%;height:100%;" id="seventy">{{cv7}}</TEXTAREA>
        </div>
            
        <div class="col-lg-6 order-lg-1 my-auto showcase-text" style="background:#89BAC9">
          <h2>Septième étape</h2>
          <p class="lead mb-0">
              1) - Maintenant renseignez le recruteur à propos de vous !

     


              {% if user.is_authenticated %}
              <br>
              <center>
                  <input type="button" Value="Valider" id="valider_septieme">
              </center>
              {% else %}
              {% endif %}


              

          </p>


          <div id="sixty_validation"></div>
    
        </div>
      </div>









      
    </div>







    
  </section>









   <!-- Image Showcases -->
  
  <section class="showcase" id="section_lettre">
    <div class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2">
            <input type="text" value="{{ville}}" id="ville">
            <input type="text" value="{{code}}" id="code">
            <input type="text" value="{{poste_motivation}}" id="poste_moitivation">
            <TEXTAREA name="nom" style="width:100%;height:100%;" id="motivation_text1">{{motiv1}}</TEXTAREA>
        </div>
            
        <div class="col-lg-6 order-lg-1 my-auto showcase-text" style="background:#f5ec42">
          <h2>Première étape</h2>
          
          <p class="lead mb-0">
              1) - Rentrez votre ville ainsi que votre code postal.<br>

              2) - Faites une phrase d'accroche qui défini votre présent statut ainsi que l'objectif de cette lettre<br>

               {% if user.is_authenticated %}
              <input type="button" value="Valider" id="valider1_motivation">
              {% else %}
              {% endif %}

              
              <div id="motivation1"></div>
              
          </p>
          
        </div>
      </div>


        
      <div class="row no-gutters">
        <div class="col-lg-6">
            <TEXTAREA name="nom" style="width:100%;height:100%;" id="motivation_text2">{{motiv2}}</TEXTAREA>
        </div>
            
        <div class="col-lg-6 my-auto showcase-text" style="background:#f54242">
          <h2>Deuxième étape</h2>
          <p class="lead mb-0">

              1) - Dites que votre profil correspond à l'offre d'emploi.<br>
              2) - Précisez que votre formation et/ou expériences universitaires qui
              vous ont aidé à acquérir les compétences pour cette offre.<br>
              3) - Montrez vos meilleurs traits de personnalité professionel !
              

              {% if user.is_authenticated %}
              <input type="button" value="Valider" id="valider2_motivation">
              {% else %}
              {% endif %}
              
              <div id="motivation2"></div>
          </p>
        </div>
      </div>

      
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2">
            <TEXTAREA name="nom" style="width:100%;height:100%;" id="motivation_text3">{{motiv3}}</TEXTAREA>
        </div>
            
        <div class="col-lg-6 order-lg-1 my-auto showcase-text" style="background:#4296f5">
        
          <h2>Troisième étape</h2>
          <p class="lead mb-0">

              1) - Montrez vos expériences professionnelles dans le domaine de votre recherche.<br>
              2) - Que vous ont-ils apporté ?<br>
              3) - Montrez encore une fois vos meilleurs traits de personnalité professionel !
                
              

              {% if user.is_authenticated %}
              <input type="button" value="Valider" id="valider3_motivation">
              {% else %}
              {% endif %}

              
              <div id="motivation3"></div>
          </p>
          
        </div>
      </div>



      <div class="row no-gutters">
        <div class="col-lg-6">
            <TEXTAREA name="nom" style="width:100%;height:100%;" id="motivation_text4">{{motiv4}}</TEXTAREA>
        </div>
            
        <div class="col-lg-6 my-auto showcase-text" style="background:#f54242">
          <h2>Quatrième étape</h2>
          <p class="lead mb-0">

             1) - Dites pourquoi cette demande d'emploi est très importante pour vous
          

             {% if user.is_authenticated %}
             <input type="button" value="Valider" id="valider4_motivation">
             {% else %}
             {% endif %}



             <div id="motivation4"></div>
          </p>
        </div>
      </div>



      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2">
            <TEXTAREA name="nom" style="width:100%;height:100%;" id="motivation_text5">{{motiv5}}</TEXTAREA>
        </div>
            
        <div class="col-lg-6 order-lg-1 my-auto showcase-text" style="background:#4296f5">
          <h2>Cinquième étape</h2>
          <p class="lead mb-0">

              1) - Montrez leur que vous etes à leur disposition !  


              {% if user.is_authenticated %}
              <input type="button" value="Valider" id="valider5_motivation">
             {% else %}
             {% endif %}

              
              <div id="motivation5"></div>
          </p>
        </div>
      </div>


      <div class="row no-gutters">
        <div class="col-lg-6">
            <TEXTAREA name="nom" style="width:100%;height:100%;" id="motivation_text6">{{motiv6}}</TEXTAREA>
        </div>
            
        <div class="col-lg-6 my-auto showcase-text" style="background:#f54242">
          <h2>Sixième étape</h2>
          <p class="lead mb-0">

              Finissez par une expréssion de politesse

              {% if user.is_authenticated %}
              <input type="button" value="Valider" id="valider6_motivation">
              {% else %}
             {% endif %}

             
              <div id="motivation6"></div>
          </p>

          
        </div>
      </div>



      
    </div>







    
  </section>












  <section class="showcase" id="section_message">
    <div class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2">
            <TEXTAREA name="nom" style="width:100%;height:100%;" id="text_message1">{{mess1}}</TEXTAREA>
        </div>
            
        <div class="col-lg-6 order-lg-1 my-auto showcase-text" style="background:#f5ec42">
          <h2>Message au recruteur<br><br>Première étape</h2>
          
          <p class="lead mb-0">
              Ici on se met à la place du recruteur.
              {% if user.is_authenticated %}
              
              <input type="button" value="Valider" id="message1">
             {% else %}
             {% endif %}

              
              <div id="message_recru1"></div>
          </p>
          
        </div>
      </div>


      
      <div class="row no-gutters">
        <div class="col-lg-6">
            <TEXTAREA name="nom" style="width:100%;height:100%;" id="text_message2">{{mess2}}</TEXTAREA>
        </div>
            
        <div class="col-lg-6 my-auto showcase-text" style="background:#f54242">
          <h2>Deuxième étape</h2>
          <p class="lead mb-0">Newly improved, and full of great utility classes,
              Bootstrap 4 is leading the way in mobile responsive web development!
              All of the themes on Start Bootstrap are now using Bootstrap 4!
             {% if user.is_authenticated %}
             <input type="button" value="Valider" id="message2">
            {% else %}
             {% endif %}
             
             <div id="message_recru2"></div>
          </p>
        </div>
      </div>

      
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2">
            <TEXTAREA name="nom" style="width:100%;height:100%;" id="text_message3">{{mess3}}</TEXTAREA>
        </div>
            
        <div class="col-lg-6 order-lg-1 my-auto showcase-text" style="background:#4296f5">
          <h2>Easy to Use &amp; Customize</h2>
          <p class="lead mb-0">Landing Page is just HTML and CSS with a
              splash of SCSS for users who demand some deeper customization
              options. Out of the box, just add your content and images,
              and your new landing page will be ready to go!

              {% if user.is_authenticated %}
              <input type="button" value="Valider" id="message3">
              {% else %}
             {% endif %}


             
              <div id="message_recru3"></div>

          </p>
        </div>
      </div>



      <div class="row no-gutters">
        <div class="col-lg-6">
            <TEXTAREA name="nom" style="width:100%;height:100%;" id="text_message4">{{mess4}}</TEXTAREA>
        </div>
            
        <div class="col-lg-6 my-auto showcase-text" style="background:#f54242">
          <h2>Deuxième étape</h2>
          <p class="lead mb-0">Newly improved, and full of great utility classes,
              Bootstrap 4 is leading the way in mobile responsive web development! All
              of the themes on Start Bootstrap are now using Bootstrap 4!

            {% if user.is_authenticated %}
            <input type="button" value="Valider" id="message4">

             {% else %}
             {% endif %}
            
            <div id="message_recru4"></div>
          </p>
        </div>
      </div>



      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2">
            <TEXTAREA name="nom" style="width:100%;height:100%;" id="text_message5">{{mess5}}</TEXTAREA>
        </div>
            
        <div class="col-lg-6 order-lg-1 my-auto showcase-text" style="background:#4296f5">
          <h2>Easy to Use &amp; Customize</h2>
          <p class="lead mb-0">Landing Page is just HTML and CSS with a splash of
              SCSS for users who demand some deeper customization options. Out of
              the box, just add your content and images, and your new landing page
              will be ready to go!

              {% if user.is_authenticated %}
              <input type="button" value="Valider" id="message5">
              {% else %}
              {% endif %}

             
              <div id="message_recru5"></div>

          </p>
        </div>
      </div>


      <div class="row no-gutters">
        <div class="col-lg-6">
            <TEXTAREA name="nom" style="width:100%;height:100%;" id="text_message6">{{mess6}}</TEXTAREA>
        </div>
            
        <div class="col-lg-6 my-auto showcase-text" style="background:#f54242">
          <h2>Deuxième étape</h2>
          <p class="lead mb-0">Newly improved, and full of great utility
              classes, Bootstrap 4 is leading the way in mobile responsive web
              development! All of the themes on Start Bootstrap are now using Bootstrap 4!

              {% if user.is_authenticated %}
              <input type="button" value="Valider" id="message6">
              {% else %}
              {% endif %}
              
              <div id="message_recru6"></div>
          </p>
        </div>
      </div>

        

    </div>



    






    
  </section>













  <!-- Testimonials -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">Faites le questionnaire!</h2>
      <div class="row">

        <div class="col-lg-12">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="/static/mon_compte/img/testimonials-2.jpg" alt="">
            <h5>Vous avez accès à votre bilan dans votre compte! Vous serez surpris de vous meme !</h5>
            <p class="font-weight-light mb-0">Attention, vous ne pouvez faire le questionnaire qu'une seule fois par mois</p>
          </div>
        </div>
        
      </div>
    </div>
  </section>





  <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Aidez-nous à améliorer nos conseils!</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="text" size="40" placeholder="Entez votre conseil">
              </div>
              <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary">Valider</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>







  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="#">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2019. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>




  <!-- Bootstrap core JavaScript -->
  <script src="/static/mon_compte/vendor/jquery/jquery.min.js"></script>
  <script src="/static/mon_compte/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/home/js/stylish-portfolio.min.js"></script>
</body>

</html>


<script>









    function cv(){
        document.getElementById("section_lettre").style.display = "none";
        document.getElementById("section_cv").style.display = "block";
        document.getElementById("section_message").style.display = "none";
    };

    function lettre(){
        document.getElementById("section_lettre").style.display = "block";
        document.getElementById("section_cv").style.display = "none";
        document.getElementById("section_message").style.display = "none";

    };


    function message(){
        document.getElementById("section_lettre").style.display = "none";
        document.getElementById("section_cv").style.display = "none";
        document.getElementById("section_message").style.display = "block";

    };
    
    function function_deja1(){
        var a = document.getElementById('deja1').innerHTML;
        modifier_input = "<input type='button' value='Modifier' id='modification_premiere'>";
        if(a == "deja"){
            document.getElementById('valider_premiere').innerHTML = modifier_input;

        };

    };

 

    




    function function_bouton(){
        var a = document.getElementById('motivation_text1').value;
        if (a != ""){
            var modifier = document.getElementById('valider1_motivation').value = "Modifier";
        }
        var b = document.getElementById('motivation_text2').value;
        if (b != ""){
            var modifier = document.getElementById('valider2_motivation').value = "Modifier";
        }
        var c = document.getElementById('motivation_text3').value;
        if (c != ""){
            var modifier = document.getElementById('valider3_motivation').value = "Modifier";
        }
        var d = document.getElementById('motivation_text4').value;
        if (d != ""){
            var modifier = document.getElementById('valider4_motivation').value = "Modifier";
        }
        var e = document.getElementById('motivation_text5').value;
        if (e != ""){
            var modifier = document.getElementById('valider5_motivation').value = "Modifier";
        }
        var f = document.getElementById('motivation_text6').value;
        if (f != ""){
            var modifier = document.getElementById('valider6_motivation').value = "Modifier";
        }


        
        
        var g = document.getElementById('first').value;
        if (g != ""){
            var modifier = document.getElementById('valider_premiere').value = "Modifier";
        }
        
        var h = document.getElementById('second').value;
        if (h != ""){
            var modifier = document.getElementById('valider_deuxieme').value = "Modifier";
        }
        
        var i = document.getElementById('third').value;
        if (i != ""){
            var modifier = document.getElementById('valider_troisieme').value = "Modifier";
        }
        
        var j = document.getElementById('fourth').value;
        if (j != ""){
            var modifier = document.getElementById('valider_quatrieme').value = "Modifier";
        }
        
        var k = document.getElementById('fifty').value;
        if (k != ""){
            var modifier = document.getElementById('valider_cinquieme').value = "Modifier";
        }
        
        var l = document.getElementById('sixty_one').value;

        if (l != ""){
            var modifier = document.getElementById('valider_sixieme_un').value = "Modifier";
        }

        var ll = document.getElementById('sixty_two').value;
        if (ll != ""){
            var modifier = document.getElementById('valider_sixieme_deux').value = "Modifier";
        }

        var lll = document.getElementById('sixty_three').value;
        if (lll != ""){
            var modifier = document.getElementById('valider_sixieme_trois').value = "Modifier";
        }

        var llll = document.getElementById('seventy').value;
        if (llll != ""){
            var modifier = document.getElementById('valider_septieme').value = "Modifier";
        }

        
        var m = document.getElementById('text_message1').value;

        if (m != ""){
            var modifier = document.getElementById('message1').value = "Modifier";
        }

        var n = document.getElementById('text_message2').value;

        if (n != ""){
            var modifier = document.getElementById('message2').value = "Modifier";
        }

        var o = document.getElementById('text_message3').value;

        if (o != ""){
            var modifier = document.getElementById('message3').value = "Modifier";
        }

        var p = document.getElementById('text_message4').value;

        if (p != ""){
            var modifier = document.getElementById('message4').value = "Modifier";
        }

        var q = document.getElementById('text_message5').value;

        if (q != ""){
            var modifier = document.getElementById('message5').value = "Modifier";
        }

        var r = document.getElementById('text_message6').value;

        if (r != ""){
            var modifier = document.getElementById('message6').value = "Modifier";
        }


        
    };

    function_bouton()






</script>


<style>
    #section_lettre,
    #section_message{
        display:none;
    }
    input{
        background:none;
        border:none;
        height:40px;
    }
    input:hover{
        border:1px solid black;
    }


    #deja8,
    #deja7,
    #deja6,
    #deja5,
    #deja4,
    #deja3,
    #deja2,
    #deja1{
        display:none;
    }


</style>



<script>







//-----------------------------------------------------------------PARTIE 
//-----------------------------------------------------------------MESSAGE
//-----------------------------------------------------------------RECRUTEUR


//-----------------------------------------------------------------1
jQuery("#message1").on("click", function(e){
    
 un = document.getElementById("text_message1").value;

 
 e.preventDefault();
  jQuery.ajax({
      data:{
          "message":"message",
          "un":un,
          'csrfmiddlewaretoken': '{{csrf_token}}' , 
      },
      type:"POST",
      url:"comment_faire_mon_cv"
  })
  .done(function(data){
      if (data.error){
          document.getElementById("#Alert").inner.html = "aie"; 
      }
      else{
          document.getElementById("message_recru1").innerHTML = "Première partie effectué";
          
          
      };
      
  });
 });




//-----------------------------------------------------------------1





//-----------------------------------------------------------------2
jQuery("#message2").on("click", function(e){
    
 deux = document.getElementById("text_message2").value;

 
 e.preventDefault();
  jQuery.ajax({
      data:{
          "message":"message",
          "deux":deux,
          'csrfmiddlewaretoken': '{{csrf_token}}' , 
      },
      type:"POST",
      url:"comment_faire_mon_cv"
  })
  .done(function(data){
      if (data.error){
          document.getElementById("#Alert").inner.html = "aie"; 
      }
      else{
          document.getElementById("message_recru2").innerHTML = "Seconde partie effectué";
          
          
      };
      
  });
 });

//-----------------------------------------------------------------2




//-----------------------------------------------------------------3
jQuery("#message3").on("click", function(e){
    
 trois = document.getElementById("text_message3").value;

 
 e.preventDefault();
  jQuery.ajax({
      data:{
          "message":"message",
          "trois":trois,
          'csrfmiddlewaretoken': '{{csrf_token}}' , 
      },
      type:"POST",
      url:"comment_faire_mon_cv"
  })
  .done(function(data){
      if (data.error){
          document.getElementById("#Alert").inner.html = "aie"; 
      }
      else{
          document.getElementById("message_recru3").innerHTML = "Troisième partie effectué";
          
          
      };
      
  });
 });

//-----------------------------------------------------------------3


//-----------------------------------------------------------------4
jQuery("#message4").on("click", function(e){
    
 quattre = document.getElementById("text_message4").value;

 
 e.preventDefault();
  jQuery.ajax({
      data:{
          "message":"message",
          "quattre":quattre,
          'csrfmiddlewaretoken': '{{csrf_token}}' , 
      },
      type:"POST",
      url:"comment_faire_mon_cv"
  })
  .done(function(data){
      if (data.error){
          document.getElementById("#Alert").inner.html = "aie"; 
      }
      else{
          document.getElementById("message_recru4").innerHTML = "Quattrième partie effectué";
          
          
      };
      
  });
 });

//-----------------------------------------------------------------4


//-----------------------------------------------------------------5
jQuery("#message5").on("click", function(e){
    
 cinq = document.getElementById("text_message5").value;

 
 e.preventDefault();
  jQuery.ajax({
      data:{
          "message":"message",
          "cinq":cinq,
          'csrfmiddlewaretoken': '{{csrf_token}}' , 
      },
      type:"POST",
      url:"comment_faire_mon_cv"
  })
  .done(function(data){
      if (data.error){
          document.getElementById("#Alert").inner.html = "aie"; 
      }
      else{
          document.getElementById("message_recru5").innerHTML = "Cinquième partie effectué";
          
          
      };
      
  });
 });

//-----------------------------------------------------------------5



//-----------------------------------------------------------------6
jQuery("#message6").on("click", function(e){
    
 six = document.getElementById("text_message6").value;

 
 e.preventDefault();
  jQuery.ajax({
      data:{
          "message":"message",
          "six":six,
          'csrfmiddlewaretoken': '{{csrf_token}}' , 
      },
      type:"POST",
      url:"comment_faire_mon_cv"
  })
  .done(function(data){
      if (data.error){
          document.getElementById("#Alert").inner.html = "aie"; 
      }
      else{
          document.getElementById("message_recru6").innerHTML = "Sixième partie effectué";
          
          
      };
      
  });
 });

//-----------------------------------------------------------------6





//-----------------------------------------------------------------PARTIE 
//-----------------------------------------------------------------MESSAGE
//-----------------------------------------------------------------RECRUTEUR








//-----------------------------------------------------------------PARTIE 
//-----------------------------------------------------------------LETTRE
//-----------------------------------------------------------------MOTIVATION






//-----------------------------------------------------------------1 
jQuery("#valider1_motivation").on("click", function(e){
    
 un = document.getElementById("motivation_text1").value;
 var ville = document.getElementById("ville").value;
 var code = document.getElementById("code").value;
 var poste_moitivation = document.getElementById("poste_moitivation").value;
 e.preventDefault();
  jQuery.ajax({
      data:{
          "code": code,
          "ville": ville,
          "poste_motivation": poste_moitivation,
          "motive":"motive",
          "un":un,
          'csrfmiddlewaretoken': '{{csrf_token}}' , 
      },
      type:"POST",
      url:"comment_faire_mon_cv"
  })
  .done(function(data){
      if (data.error){
          document.getElementById("#Alert").inner.html = "aie"; 
      }
      else{
          document.getElementById("motivation1").innerHTML = "Sixième partie effectué";
          
          
      };
      
  });
 });

//-----------------------------------------------------------------1




//-----------------------------------------------------------------2

jQuery("#valider2_motivation").on("click", function(e){
    
 deux = document.getElementById("motivation_text2").value;

 
 e.preventDefault();
  jQuery.ajax({
      data:{
          "motive":"motive",
          "deux":deux,
          'csrfmiddlewaretoken': '{{csrf_token}}' , 
      },
      type:"POST",
      url:"comment_faire_mon_cv"
  })
  .done(function(data){
      if (data.error){
          document.getElementById("#Alert").inner.html = "aie"; 
      }
      else{
          document.getElementById("motivation2").innerHTML = "Sixième partie effectué";
          
          
      };
      
  });
 });

//-----------------------------------------------------------------2





//-----------------------------------------------------------------3

jQuery("#valider3_motivation").on("click", function(e){
    
 trois = document.getElementById("motivation_text3").value;

 
 e.preventDefault();
  jQuery.ajax({
      data:{
          "motive":"motive",
          "trois":trois,
          'csrfmiddlewaretoken': '{{csrf_token}}' , 
      },
      type:"POST",
      url:"comment_faire_mon_cv"
  })
  .done(function(data){
      if (data.error){
          document.getElementById("#Alert").inner.html = "aie"; 
      }
      else{
          document.getElementById("motivation3").innerHTML = "Sixième partie effectué";
          
          
      };
      
  });
 });

//-----------------------------------------------------------------3




//-----------------------------------------------------------------4
jQuery("#valider4_motivation").on("click", function(e){
    
 quattre = document.getElementById("motivation_text4").value;

 
 e.preventDefault();
  jQuery.ajax({
      data:{
          "motive":"motive",
          "quattre":quattre,
          'csrfmiddlewaretoken': '{{csrf_token}}' , 
      },
      type:"POST",
      url:"comment_faire_mon_cv"
  })
  .done(function(data){
      if (data.error){
          document.getElementById("#Alert").inner.html = "aie"; 
      }
      else{
          document.getElementById("motivation4").innerHTML = "Sixième partie effectué";
          
          
      };
      
  });
 });

//-----------------------------------------------------------------4




//-----------------------------------------------------------------5

jQuery("#valider5_motivation").on("click", function(e){
    
 cinq = document.getElementById("motivation_text5").value;

 
 e.preventDefault();
  jQuery.ajax({
      data:{
          "motive":"motive",
          "cinq":cinq,
          'csrfmiddlewaretoken': '{{csrf_token}}' , 
      },
      type:"POST",
      url:"comment_faire_mon_cv"
  })
  .done(function(data){
      if (data.error){
          document.getElementById("#Alert").inner.html = "aie"; 
      }
      else{
          document.getElementById("motivation5").innerHTML = "Sixième partie effectué";
          
          
      };
      
  });
 });
//-----------------------------------------------------------------5




//-----------------------------------------------------------------6

jQuery("#valider6_motivation").on("click", function(e){
    
 six = document.getElementById("motivation_text6").value;

 
 e.preventDefault();
  jQuery.ajax({
      data:{
          "motive":"motive",
          "six":six,
          'csrfmiddlewaretoken': '{{csrf_token}}' , 
      },
      type:"POST",
      url:"comment_faire_mon_cv"
  })
  .done(function(data){
      if (data.error){
          document.getElementById("#Alert").inner.html = "aie"; 
      }
      else{
          document.getElementById("motivation6").innerHTML = "Sixième partie effectué";
          
          
      };
      
  });
 });


//-----------------------------------------------------------------6














//-----------------------------------------------------------------PARTIE 
//-----------------------------------------------------------------LETTRE
//-----------------------------------------------------------------MOTIVATION





//-----------------------------------------------------------------1

jQuery("#valider_premiere").on("click", function(e){
    
 premiere_partie = document.getElementById("first").value;
 metier = document.getElementById("metier").value;
 formation = document.getElementById("formation").value;
 
 e.preventDefault();
  jQuery.ajax({
      data:{
          "un": premiere_partie,
          "metier": metier,
          "formation": formation,
          'csrfmiddlewaretoken': '{{csrf_token}}' , 
      },
      type:"POST",
      url:"comment_faire_mon_cv"
  })
  .done(function(data){
      if (data.error){
          document.getElementById("#Alert").inner.html = "aie"; 
      }
      else{
          document.getElementById("first_validation").innerHTML = "Première partie effectué";
          
          
      };
      
  });
 });
//-----------------------------------------------------------------1








//-----------------------------------------------------------------2


jQuery("#valider_deuxieme").on("click", function(e){
    
 deuxieme_partie = document.getElementById("second").value;

 
 e.preventDefault();
  jQuery.ajax({
      data:{
          "deux":deuxieme_partie,
          'csrfmiddlewaretoken': '{{csrf_token}}' , 
      },
      type:"POST",
      url:"comment_faire_mon_cv"
  })
  .done(function(data){
      if (data.error){
          document.getElementById("#Alert").inner.html = "aie"; 
      }
      else{
          document.getElementById("second_validation").innerHTML = "Seconde partie effectué";
          
          
      };
      
  });
 });
//-----------------------------------------------------------------2










//-----------------------------------------------------------------3
jQuery("#valider_troisieme").on("click", function(e){
    
 troisieme_partie = document.getElementById("third").value;

 

 e.preventDefault();
  jQuery.ajax({
      data:{

          "trois":troisieme_partie,
          'csrfmiddlewaretoken': '{{csrf_token}}' , 
      },
      type:"POST",
      url:"comment_faire_mon_cv"
  })
  .done(function(data){
      if (data.error){
          document.getElementById("#Alert").inner.html = "aie"; 
      }
      else{
          document.getElementById("third_validation").innerHTML = "Troisième partie effectué";
          
          
      };
      
  });
 });
//-----------------------------------------------------------------3



//-----------------------------------------------------------------4

jQuery("#valider_quatrieme").on("click", function(e){
    
 quatrieme_partie = document.getElementById("fourth").value;



 
 e.preventDefault();
  jQuery.ajax({
      data:{
          "quattre":quatrieme_partie,
          'csrfmiddlewaretoken': '{{csrf_token}}' , 
      },
      type:"POST",
      url:"comment_faire_mon_cv"
  })
  .done(function(data){
      if (data.error){
          document.getElementById("#Alert").inner.html = "aie"; 
      }
      else{
          document.getElementById("fourth_validation").innerHTML = "Quatrième partie effectué";
          
          
      };
      
  });
 });
//-----------------------------------------------------------------4








//-----------------------------------------------------------------5
jQuery("#valider_cinquieme").on("click", function(e){
    
 cinquieme_partie = document.getElementById("fifty").value;
 
 e.preventDefault();
  jQuery.ajax({
      data:{

          "cinq":cinquieme_partie,
          'csrfmiddlewaretoken': '{{csrf_token}}' , 
      },
      type:"POST",
      url:"comment_faire_mon_cv"
  })
  .done(function(data){
      if (data.error){
          document.getElementById("#Alert").inner.html = "aie"; 
      }
      else{
          document.getElementById("fifty_validation").innerHTML = "Cinquième partie effectué";
          
          
      };
      
  });
 });

//-----------------------------------------------------------------5





//-----------------------------------------------------------------6-1
jQuery("#valider_sixieme_un").on("click", function(e){
    
 sixieme_partie = document.getElementById("sixty_one").value;
 poste1 = document.getElementById("poste1").value;

 
 e.preventDefault();
  jQuery.ajax({
      data:{
          "poste1": poste1,
          "six_un":sixieme_partie,
          'csrfmiddlewaretoken': '{{csrf_token}}' , 
      },
      type:"POST",
      url:"comment_faire_mon_cv"
  })
  .done(function(data){
      if (data.error){
          document.getElementById("#Alert").inner.html = "aie"; 
      }
      else{
          document.getElementById("sixty_validation").innerHTML = "Sixième partie effectué";
          
          
      };
      
  });
 });

//-----------------------------------------------------------------6-1



//-----------------------------------------------------------------6-2
jQuery("#valider_sixieme_deux").on("click", function(e){
    
 sixieme_partie = document.getElementById("sixty_two").value;
 poste2 = document.getElementById("poste2").value;
 
 e.preventDefault();
  jQuery.ajax({
      data:{
          "poste2": poste2,
          "six_deux":sixieme_partie,
          'csrfmiddlewaretoken': '{{csrf_token}}' , 
      },
      type:"POST",
      url:"comment_faire_mon_cv"
  })
  .done(function(data){
      if (data.error){
          document.getElementById("#Alert").inner.html = "aie"; 
      }
      else{
          document.getElementById("sixty_validation").innerHTML = "Sixième partie effectué";
          
          
      };
      
  });
 });

//-----------------------------------------------------------------6-2




//-----------------------------------------------------------------6-3
jQuery("#valider_sixieme_trois").on("click", function(e){
    
 sixieme_partie = document.getElementById("sixty_three").value;
 poste3 = document.getElementById("poste3").value;
 
 e.preventDefault();
  jQuery.ajax({
      data:{
          "poste3": poste3,
          "six_trois":sixieme_partie,
          'csrfmiddlewaretoken': '{{csrf_token}}' , 
      },
      type:"POST",
      url:"comment_faire_mon_cv"
  })
  .done(function(data){
      if (data.error){
          document.getElementById("#Alert").inner.html = "aie"; 
      }
      else{
          document.getElementById("sixty_validation").innerHTML = "Sixième partie effectué";
          
          
      };
      
  });
 });

//-----------------------------------------------------------------6-3



//-----------------------------------------------------------------7
jQuery("#valider_septieme").on("click", function(e){
    
 sixieme_partie = document.getElementById("seventy").value;

 
 e.preventDefault();
  jQuery.ajax({
      data:{

          "sept":sixieme_partie,
          'csrfmiddlewaretoken': '{{csrf_token}}' , 
      },
      type:"POST",
      url:"comment_faire_mon_cv"
  })
  .done(function(data){
      if (data.error){
          document.getElementById("#Alert").inner.html = "aie"; 
      }
      else{
          document.getElementById("sixty_validation").innerHTML = "Sixième partie effectué";
          
          
      };
      
  });
 });

//-----------------------------------------------------------------7





</script>









































