
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Projetto</title>

  <!-- Bootstrap Core CSS -->
  <link href="/static/home/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="/static/home/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="/static/home/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/static/home/css/stylish-portfolio.min.css" rel="stylesheet">

</head>

<body id="page-top">



  <!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="#page-top">Start Bootstrap</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#page-top">Home</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#about">About</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#services">Services</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#portfolio">Portfolio</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#contact">Contact</a>
      </li>
    </ul>
  </nav>





  <!-- Header -->
  <header class="masthead d-flex" style="background: no-repeat url('/static/home/img/premiere.jpg');">
    <div class="container text-center my-auto">
      <h1 class="mb-1">Projetto</h1>
      <h3 class="mb-5">
        <em>Des outils pour faciliter ma recherche d'emplois<br>
        faites nous confiance et cela gratuitement</em>
      </h3>
    </div>
    <div class="overlay"></div>
  </header>



  <!-- About -->
  <section class="content-section bg-light" id="about">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">

        
        {% if user.authenticate %}

        {% else %}
          {{user}}
          <h2>Inscris-toi si ce n'est pas deja fait ! Connecte-toi</h2>
          <p class="lead mb-5">Ici on met toute les nouveautés, genre et jb on t'as trouvé du taff!
          <a href="compte">Je m'inscris ou me connecte!</a></p>
        {% endif %}

          
        </div>
      </div>
    </div>
  </section>



  <!-- Services -->
  <section class="content-section bg-primary text-white text-center" id="services">
    <div class="container">
    
      <div class="content-section-heading">
        <h3 class="text-secondary mb-0">Nous vous proposons</h3>
        <h2 class="mb-5"></h2>
      </div>
      
      <div class="row">

      
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3" id="icone_hover"
              onclick="document.location.href='compte'">
          
            <i class="icon-screen-smartphone"></i>
          </span>
          <h4>
            <strong>Mon compte</strong>
          </h4>
          <p class="text-faded mb-0">Looks great on any screen size!</p>
        </div>

        
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3" id="icone_hover"
              onclick="document.location.href='comment_faire_mon_cv'">
              
            <i class="icon-pencil"></i>
          </span>
          <h4>
            <strong>Mon CV</strong>
          </h4>
          <p class="text-faded mb-0">Freshly redesigned for Bootstrap 4.</p>
        </div>

        
        <div class="col-lg-3 col-md-6">
          <span class="service-icon rounded-circle mx-auto mb-3" id="icone_hover"
              onclick="document.location.href='mon_apparence'">
              
            <i class="icon-mustache"></i>
          </span>
          <h4>
            <strong>Votre apparence</strong>
          </h4>
          <p class="text-faded mb-0">I mustache you a question...</p>
        </div>

        
        <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
          <span class="service-icon rounded-circle mx-auto mb-3" id="icone_hover"
              onclick="document.location.href='ma_demarche'">
              
            <i class="icon-like"></i>
          </span>
          <h4>
            <strong>Ma démarche</strong>
          </h4>
          <p class="text-faded mb-0">Millions of users
            <i class="fas fa-heart"></i>
            Start Bootstrap!</p>
        </div>


        
      </div>
    </div>
  </section>

  <style>
      #icone_hover:hover{
          background:#ECB807
      }
  </style>















  <!-- Callout -->
  <section class="callout">
    <div class="container text-center">
      <h2 class="mx-auto mb-5">Faites
        <em>le questionnaire,</em>
        nous nous occupons du reste!</h2>
      <a class="btn btn-primary btn-xl" href="https://startbootstrap.com/template-overviews/stylish-portfolio/">Le passer!</a>
      <br><br><em>Attention vous ne pouvez le remplir qu'une seule fois par semaine.<br>
      <strong>Le bilan du questionnaire est visible depuis votre compte</strong><br></em><br><br>
      <h3>Soyez surpris de vous-meme!</h3>
    </div>
  </section>






  {% if user.authenticate %}

  <!-- Portfolio -->
  <section class="content-section" id="portfolio">
    <div class="container">
      <div class="content-section-heading text-center">

      
        <h3 class="text-secondary mb-0">Vos Documents</h3>
        <h2 class="mb-5">L'essentielll</h2>

        
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Curiculum Vitae</h2>
                <p class="mb-0">A yellow pencil with envelopes on a clean, blue backdrop!</p>
              </span>
            </span>
            <img class="img-fluid" src="/static/home/img/portfolio-1.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Ice Cream</h2>
                <p class="mb-0">A dark blue background with a colored pencil, a clip, and a tiny ice cream cone!</p>
              </span>
            </span>
            <img class="img-fluid" src="/static/home/img/portfolio-2.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Strawberries</h2>
                <p class="mb-0">Strawberries are such a tasty snack, especially with a little sugar on top!</p>
              </span>
            </span>
            <img class="img-fluid" src="/static/home/img/portfolio-3.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Workspace</h2>
                <p class="mb-0">A yellow workspace with some scissors, pencils, and other objects.</p>
              </span>
            </span>
            <img class="img-fluid" src="/static/home/img/portfolio-4.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>


  {% else %}


  <!-- Portfolio -->
  <section class="content-section" id="portfolio">
    <div class="container">
      <div class="content-section-heading text-center">
      
        <h3 class="text-secondary mb-0">Documents</h3>
        <h2 class="mb-5">L'essentiel</h2>

        
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Curriculum Vitae</h2>
                <p class="mb-0">Voici un modèle! Connecte-toi et personnalise le tien!</p>
              </span>
            </span>
            <img class="img-fluid" src="/static/home/img/portfolio-1.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Lettre de Motication</h2>
                <p class="mb-0">Voici un modèle! Connecte-toi et fais la tienne!</p>
              </span>
            </span>
            <img class="img-fluid" src="/static/home/img/portfolio-2.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Lettre de Motication</h2>
                <p class="mb-0">Voici un modèle! Connecte-toi et fais la tienne!</p>
              </span>
            </span>
            <img class="img-fluid" src="/static/home/img/portfolio-3.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Curriculum Vitae</h2>
                <p class="mb-0">Voici un modèle! Connecte-toi et personnalise le tien!</p>
              </span>
            </span>
            <img class="img-fluid" src="/static/home/img/portfolio-4.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>
    

  {% endif %}





  <!-- Call to Action -->
  <section class="content-section bg-primary text-white">
    <div class="container text-center">
    
      <h2 class="mb-4">A quoi sert ce site web?</h2>

      <div>
        <h5 id="explication">
        Remplissez votre CV, Faites vote lettre de motivation, Faites un message à l'employeur
        on y passe un coup de reverso, on analyse le bilan faut un psy,
        on envoie ca au recruteur selon le rayon du type via les sites web
        par contre... je sais pas si c possible merde du genre bonjour nous sommes projettoooo
        et nous avons un cli, matte son cv, matte sa lettre, matte son message, matte on a fait un bilan sur lui !
        aimerai tu le joindre pettasse ? voici son mail !
        </h5>
      </div>

    </div>
  </section>





  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="#">
            <i class="icon-social-github"></i>
          </a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; Your Website 2019</p>
    </div>
  </footer>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/home/vendor/jquery/jquery.min.js"></script>
  <script src="/static/home/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/home/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/static/home/js/stylish-portfolio.min.js"></script>

</body>

</html>



<style>
    #explication{
        color:white;
    }
</style>

















