

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Projetto</title>

  <!-- Bootstrap Core CSS -->
  <link href="/static/home/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="/static/home/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="/static/home/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/static/home/css/stylish-portfolio.min.css" rel="stylesheet">

</head>

<body id="page-top">



  <!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="#page-top">Menu</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="compte">Mon Compte</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="compte#cv_icone">Mes Documents</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="comment_faire_mon_cv">Composez !</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="le_questionnaire">Le Questionnaire</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="app_email/questionnaire_email">Ma démarche</a>
      </li>
    </ul>
  </nav>










  <!-- Header -->
  <header class="masthead d-flex" style="background: no-repeat url('/static/home/img/premiere.jpg');">
    <div class="container text-center my-auto">
      <h1 class="mb-1">Projetto</h1>
      <h3 class="mb-5">
        <em>Des outils pour faciliter ma recherche d'emplois<br>
        faites nous confiance et cela gratuitement</em>
      </h3>
    </div>
    <div class="overlay"></div>
  </header>



  <!-- About -->
  <section class="content-section bg-light" id="about">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">

        
        
            {% if user.is_authenticated %}
                <h3>Bonjour <strong>{{user}}</strong> Voici les nouvelles:</h3><br><br>
                <p style="float:left;">Nous avons envoyé des demandes à:</p>
                    

                    
            {% else %}


              <h2>Inscris-toi si ce n'est pas deja fait ! Connecte-toi</h2>
              <p class="lead mb-5">Ici on met toute les nouveautés, genre et jb on t'as trouvé du taff!
              <a href="compte">Je m'inscris ou me connecte!</a></p>
              <br><br>
              Ce site web a pour but de vous aider. <br>
              Un faites vous un compte, deux faites vos documents (cv, lettre de motivation, message aux recruteurs)
              enfin passez les tests (qui peuvent vous fournir un plus !). Enfin faites le dernier forumaire
              qui nous servira a envoyé des emails.<br>
              En effet, nous envoyons des mails au recruteurs dans le secteur qui vous plait un truk comme ca
    
            {% endif %}
          
        </div>
      </div>
    </div>
  </section>








  {% if user.is_authenticated %}

  <!-- Services -->
  <section class="content-section bg-primary text-white text-center" id="services">
    <div class="container">
    
      <div class="content-section-heading">
        <h3 class="text-secondary mb-0">Nous vous proposons</h3>
        <h2 class="mb-5"></h2>
        <h5>Etape une faites un compte, étape deux faites vos documents, étape trois
        passez le questionnaire, étape quattre remplissez votre démarche.<br><br>
        <em>Nous nous occupons du reste !</em></h5><br><br>
      </div>
      
      <div class="row">

      
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3" id="icone_hover"
              onclick="document.location.href='compte'">
          
            <i class="icon-screen-smartphone"></i>
          </span>
          <h4>
            <strong>Mon compte</strong>
          </h4>
          <p class="text-faded mb-0">
            Visualisez votre CV, lettre de motivation et
            le message que VOUS décidez d'envoyer !
          </p>
        </div>

        
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3" id="icone_hover"
              onclick="document.location.href='comment_faire_mon_cv'">
              
            <i class="icon-pencil"></i>
          </span>
          <h4>
            <strong>MES document</strong>
          </h4>
          <p class="text-faded mb-0">Composez un Curriculum Vitae, une lettre de Motivation,
          et un message au recruteur
          à l'aide de nos conseilles</p>
        </div>

        
        <div class="col-lg-3 col-md-6">
          <span class="service-icon rounded-circle mx-auto mb-3" id="icone_bilan"
          onclick="document.location.href='le_questionnaire'">
              
            <i class="icon-mustache"></i>
          </span>
          <h4>
            <strong>Le questionnaire</strong>
          </h4>
          <p class="text-faded mb-0">Passez des questionnaires
          qui aideront le recruteur à vous connaitre ! Cela peut vous apporter un plus !</p>
        </div>

        
        <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
          <span class="service-icon rounded-circle mx-auto mb-3" id="icone_hover"
              onclick="document.location.href='app_email/questionnaire_email'">
              
            <i class="icon-like"></i>
          </span>
          <h4>
            <strong>Ma démarche</strong>
          </h4>
          <p class="text-faded mb-0">
                Faites votre démarche administrative !
                Cela vous fera gagner beaucoup de temps et comme on dit
                le temps c'est de l'argent !

          </p>
        </div>

      </div>
    </div>
  </section>




    {% else %}


  <!-- Services -->
  <section class="content-section bg-primary text-white text-center" id="services">
    <div class="container">
    
      <div class="content-section-heading">
        <h3 class="text-secondary mb-0">Nous vous proposons</h3>
        <h2 class="mb-5"></h2>
      </div>
      
      <div class="row">

      
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3" id="icone_hover"
              onclick="document.location.href='compte'">
          
            <i class="icon-screen-smartphone"></i>
          </span>
          <h4>
            <strong>Créer un compte</strong>
          </h4>
          <p class="text-faded mb-0">Looks great on any screen size!</p>
        </div>

        
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3" id="icone_hover"
              onclick="document.location.href='comment_faire_mon_cv'">
              
            <i class="icon-pencil"></i>
          </span>
          <h4>
            <strong>Créer un CV</strong>
          </h4>
          <p class="text-faded mb-0">Composez un Curriculum Vitae
          à l'aide de nos conseilles</p>
        </div>

        
        <div class="col-lg-3 col-md-6">
          <span class="service-icon rounded-circle mx-auto mb-3" id="icone_bilan">
              
            <i class="icon-mustache"></i>
          </span>
          <h4>
            <strong>Créer un bilan</strong>
          </h4>
          <p class="text-faded mb-0">I mustache you a question...</p>
        </div>

        
        <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
          <span class="service-icon rounded-circle mx-auto mb-3" id="icone_hover"
              onclick="document.location.href='app_email/questionnaire_email'">
              
            <i class="icon-like"></i>
          </span>
          <h4>
            <strong>Créer une démarche</strong>
          </h4>
          <p class="text-faded mb-0">Millions of users
            <i class="fas fa-heart"></i>
            Start Bootstrap!</p>
        </div>

      </div>
    </div>
  </section>

  {% endif %}













  <style>
      #icone_bilan:hover,
      #icone_hover:hover{
          background:#ECB807
      }
  </style>















  <!-- Callout -->
  <section class="callout">
    <div class="container text-center">
      <h2 class="mx-auto mb-5">Faites
        <em>le questionnaire,</em>
        nous nous occupons du reste!</h2>

      {% if user.is_authenticated %}
      
          <a class="btn btn-primary btn-xl"
            onclick="redirection_questionnaire()" id="passer">Le passer!</a>

      {% else %}
      
         <a class="btn btn-primary btn-xl"
            onclick="document.location.href='compte'">Se connecter</a>

      {% endif %}
      <br><br><em>Attention vous ne pouvez le remplir qu'une seule fois par semaine.<br>
      <strong>Le bilan du questionnaire est visible depuis votre compte</strong><br></em><br><br>
      <h3>Soyez surpris de vous-meme!</h3>
    </div>
  </section>










  {% if user.is_authenticated %}

 

  <!-- Portfolio -->
  <section class="content-section" id="essentiel_connected">
    <div class="container">
      <div class="content-section-heading text-center">

      
        <h3 class="text-secondary mb-0">Vos Documents</h3>
        <h2 class="mb-5">L'essentiel de votre compte <strong>{{user}}</strong></h2>

        
      </div>

      
      <div class="row no-gutters">
        <div class="col-lg-6">
          <a class="portfolio-item">
            <span class="caption">
              <span class="caption-content">
                <h2>Curiculum Vitae</h2>
                
                <p class="mb-0">Mon cv !<br>
                  <input type='button' value="Visualiser mon CV" class="choix" id="choix1"><br>
                  <input type='button' value="Visualiser le PDF" class="choix" id="choix11">

                  <div id="alert1"></div>
                </p>

                
              </span>
            </span>
            <img class="img-fluid" src="/static/home/img/portfolio-1.jpg" alt="">
          </a>
        </div>



        
        <div class="col-lg-6">
          <a class="portfolio-item">
            <span class="caption">
              <span class="caption-content">
                <h2>Lettre de Motivation</h2>
                
                <p class="mb-0">
                  Ma lettre de motivation
                  <input type='button' value="Visualiser ma lettre" class="choix" id="choix2"><br>
                  <input type='button' value="Visualiser le PDF" class="choix" id="choix22">

                  <div id="alert2"></div>
                </p>

                
              </span>
            </span>
            <img class="img-fluid" src="/static/home/img/portfolio-2.jpg" alt="">
          </a>
        </div>

        
        <div class="col-lg-6">
          <a class="portfolio-item">
            <span class="caption">
              <span class="caption-content">
                <h2>Message aux recruteurs</h2>
                
                <p class="mb-0">
                
                  Mon message
                  <input type='button' value="Visualiser mon message" class="choix" id="choix3"><br>
                  <input type='button' value="Visualiser le PDF" class="choix" id="choix33">

                  <div id="alert3"></div>

                </p>
                
              </span>
            </span>
            <img class="img-fluid" src="/static/home/img/portfolio-3.jpg" alt="">
          </a>
        </div>

        
        <div class="col-lg-6">
          <a class="portfolio-item">
            <span class="caption">
              <span class="caption-content">
                <h2>Le questionnaire</h2>
                
                <p class="mb-0">

                  Mon bilan<br>
                  <input type='button' value="Visualiser mon bilan" class="choix" id="choix4"><br>
                  <input type='button' value="Visualiser mon PDF" class="choix" id="choix44"><br>

                  <div id="alert4"></div>

                </p>
                
              </span>
            </span>
            <img class="img-fluid" src="/static/home/img/portfolio-4.jpg" alt="">
          </a>
        </div>
      </div>

      
    </div>
  </section>

  {% else %}




  <!-- Portfolio -->
  <section class="content-section" id="essentiel_connected">
    <div class="container">
      <div class="content-section-heading text-center">

      
        <h3 class="text-secondary mb-0">Vos Documents</h3>
        <h2 class="mb-5">Modèle de CV, lettre de motivation, Bilan, message aux recruteurs</h2>

        
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6">
          <a class="portfolio-item">
            <span class="caption">
              <span class="caption-content">
                <h2>Curiculum Vitae</h2>
                <p class="mb-0">A yellow pencil with envelopes on a clean, blue backdrop!</p>
              </span>
            </span>
            <img class="img-fluid" src="/static/home/img/portfolio-1.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Ice Cream</h2>
                <p class="mb-0">A dark blue background with a colored pencil, a clip, and a tiny ice cream cone!</p>
              </span>
            </span>
            <img class="img-fluid" src="/static/home/img/portfolio-2.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Strawberries</h2>
                <p class="mb-0">Strawberries are such a tasty snack, especially with a little sugar on top!</p>
              </span>
            </span>
            <img class="img-fluid" src="/static/home/img/portfolio-3.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Workspace</h2>
                <p class="mb-0">A yellow workspace with some scissors, pencils, and other objects.</p>
              </span>
            </span>
            <img class="img-fluid" src="/static/home/img/portfolio-4.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>




  {% endif %}















  <!-- Call to Action -->
  <section class="content-section bg-primary text-white">
    <div class="container text-center">
    
      <h2 class="mb-4">A quoi sert ce site web?</h2>

      <div>
        <h5 id="explication">
        Remplissez votre CV, Faites vote lettre de motivation, Faites un message à l'employeur
         , on analyse le bilan faut un psy,
        on envoie ca au recruteur selon le rayon du type via les sites web
        par contre... je sais pas si c possible merde du genre bonjour nous sommes projettoooo
        et nous avons un cli, matte son cv, matte sa lettre, matte son message, matte on a fait un bilan sur lui !
        aimerai tu le joindre ? voici son mail !
        </h5>
      </div>

    </div>
  </section>





  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="#">
            <i class="icon-social-github"></i>
          </a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; Your Website 2019</p>
    </div>
  </footer>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/home/vendor/jquery/jquery.min.js"></script>
  <script src="/static/home/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/home/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/static/home/js/stylish-portfolio.min.js"></script>

</body>

</html>





<style>
    #explication{
        color:white;
    }
    .choix{
      background:none;
      border:none;
      color:white;
    }
    .choix:hover{
      border:1px solid black;
    }

    #alert4,
    #alert3,
    #alert2,
    #alert1{
      color:black;
    }
    #ici{
      color:red;
    }
    
</style>















<script>



//---------------------------------------------------------------------Bilan
jQuery("#choix1").on("click", function(e){


 e.preventDefault();
  jQuery.ajax({
      data:{
          "verification_document":"verification_document",
          "un":"un",
          'csrfmiddlewaretoken': '{{csrf_token}}',
      },
      type:"POST",
      url:"/"
  })
  .done(function(data){
      if (data.error){
          document.getElementById("#Alert").inner.html = "aie"; 
      }
      else{
          document.location.href = 'page_cv'
          
          
      };
      
  });
});


//---------------------------------------------------------------------Bilan


//---------------------------------------------------------------------Bilan
jQuery("#choix11").on("click", function(e){


 e.preventDefault();
  jQuery.ajax({
      data:{
          "verification_document":"verification_document",
          "unun":"unun",
          'csrfmiddlewaretoken': '{{csrf_token}}',
      },
      type:"POST",
      url:"/"
  })
  .done(function(data){
      if (data.error){
          document.getElementById("#Alert").inner.html = "aie"; 
      }
      else{

          if(data == "not_ok"){
            document.getElementById("alert1").innerHTML = "<center>Veuillez constituer un CV <a href='#icone_hover' id='ici'>Ici</a></center>"
          }
          else if(data == "ok"){
            document.location.href="page_pdf"
          }
          
      };
      
  });
});


//---------------------------------------------------------------------Bilan


//---------------------------------------------------------------------Bilan
jQuery("#choix2").on("click", function(e){


 e.preventDefault();
  jQuery.ajax({
      data:{
          "deux":"deux",
          "verification_document":"verification_document",
          'csrfmiddlewaretoken': '{{csrf_token}}',
      },
      type:"POST",
      url:"/"
  })
  .done(function(data){
      if (data.error){
          document.getElementById("#Alert").inner.html = "aie"; 
      }
      else{
          document.location.href = 'page_motivation'
          
          
      };
      
  });
});


//---------------------------------------------------------------------Bilan


//---------------------------------------------------------------------Bilan
jQuery("#choix22").on("click", function(e){


 e.preventDefault();
  jQuery.ajax({
      data:{
          "deuxdeux":"deuxdeux",
          "verification_document":"verification_document",
          'csrfmiddlewaretoken': '{{csrf_token}}',
      },
      type:"POST",
      url:"/"
  })
  .done(function(data){
      if (data.error){
          document.getElementById("#Alert").inner.html = "aie"; 
      }
      else{
          if(data == "not_ok"){
            document.getElementById("alert2").innerHTML = "<center>Veuillez constituer une lettre de motivation <a href='#icone_hover' id='ici'>Ici</a></center>"
          };
          
          
      };
      
  });
});


//---------------------------------------------------------------------Bilan


//---------------------------------------------------------------------Bilan
jQuery("#choix3").on("click", function(e){


 e.preventDefault();
  jQuery.ajax({
      data:{
          "trois":"trois",
          "verification_document":"verification_document",
          'csrfmiddlewaretoken': '{{csrf_token}}',
      },
      type:"POST",
      url:"/"
  })
  .done(function(data){
      if (data.error){
          document.getElementById("#Alert").inner.html = "aie"; 
      }
      else{
          document.location.href = 'page_message'
          
          
      };
      
  });
});


//---------------------------------------------------------------------Bilan





//---------------------------------------------------------------------Bilan
jQuery("#choix33").on("click", function(e){


 e.preventDefault();
  jQuery.ajax({
      data:{
          "troistrois":"troistrois",
          "verification_document":"verification_document",
          'csrfmiddlewaretoken': '{{csrf_token}}',
      },
      type:"POST",
      url:"/"
  })
  .done(function(data){
      if (data.error){
          document.getElementById("#Alert").inner.html = "aie"; 
      }
      else{
          if(data == "not_ok"){
            document.getElementById("alert3").innerHTML = "<center>Veuillez constituer un message <a href='#icone_hover' id='ici'>Ici</a></center>"
          };
          
          
      };
      
  });
});


//---------------------------------------------------------------------Bilan


//---------------------------------------------------------------------Bilan
jQuery("#choix4").on("click", function(e){


 e.preventDefault();
  jQuery.ajax({
      data:{
          "quattre":"quattre",
          "verification_document":"verification_document",
          'csrfmiddlewaretoken': '{{csrf_token}}',
      },
      type:"POST",
      url:"/"
  })
  .done(function(data){
      if (data.error){
          document.getElementById("#Alert").inner.html = "aie"; 
      }
      else{
          document.location.href = 'page_bilan'
          
          
      };
      
  });
});


//---------------------------------------------------------------------Bilan


//---------------------------------------------------------------------Bilan
jQuery("#choix44").on("click", function(e){


 e.preventDefault();
  jQuery.ajax({
      data:{
          "quattrequattre":"quattrequattre",
          "verification_document":"verification_document",
          'csrfmiddlewaretoken': '{{csrf_token}}',
      },
      type:"POST",
      url:"/"
  })
  .done(function(data){
      if (data.error){
          document.getElementById("#Alert").inner.html = "aie"; 
      }
      else{
 
          if(data == "not_ok"){
            document.getElementById("alert4").innerHTML = "<center>Veuillez passez le questionnaire <a href='#passer' id='ici'>Ici</a></center>"
          };
          
          
      };
      
  });
});


//---------------------------------------------------------------------Bilan

</script>



































