

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Projetto</title>

  <!-- Bootstrap Core CSS -->
  <link href="/static/home/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="/static/home/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="/static/home/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/static/home/css/stylish-portfolio.min.css" rel="stylesheet">

</head>

<body id="page-top">



  <!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="#page-top">Menu</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="compte">Mon Compte</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="compte#cv_icone">Mes Documents</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="comment_faire_mon_cv">Composez !</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="le_questionnaire">Le Questionnaire</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="app_email/questionnaire_email">Ma démarche</a>
      </li>
    </ul>
  </nav>










  <!-- Header -->
  <header class="masthead d-flex" style="background: no-repeat url('/static/home/img/premiere.jpg');">
    <div class="container text-center my-auto">
      <h1 class="mb-1">Projetto</h1>
      <h3 class="mb-5">
        <em>Des outils pour faciliter ma recherche d'emplois<br>
        faites nous confiance et cela gratuitement</em>
      </h3>
    </div>
    <div class="overlay"></div>
  </header>



  <!-- About -->
  <section class="content-section bg-light" id="about">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">

        
        
            {% if user.is_authenticated %}
                <h3>Bonjour <strong>{{user}}</strong></h3><br><br>

                {{avertisseur}}<br><br>

              <div class="container">
                <div class="row">
                  <div class="col-sm">
                    Constitution d'un CV <p id="cv"></p>
                  </div>
                  <div class="col-sm">
                    <div id="done1">Fait</div>
                  </div>
                </div>
              </div>


              <div class="container">
                <div class="row">
                  <div class="col-sm">

                    Constitution d'une lettre de motivation <p id="motivation"></p>

                  </div>
                  <div class="col-sm">
                    <div id="done2">Fait</div>
                  </div>
                </div>
              </div>




              <div class="container">
                <div class="row">
                  <div class="col-sm">
                    Constitution d'un message aux recruteur <p id="message"></p>
                  </div>
                  <div class="col-sm">
                    <div id="done3">Fait</div>
                  </div>
                </div>
              </div>





              <div class="container">
                <div class="row">
                  <div class="col-sm">
                    Bilan Partie une <p id="bilan1"></p>
                  </div>
                  <div class="col-sm">
                    <div id="done4">Fait</div>
                  </div>
                </div>
              </div>


              <div class="container">
                <div class="row">
                  <div class="col-sm">
                    Bilan Partie deux <p id="bilan2"></p>
                  </div>
                  <div class="col-sm">
                    <div id="done5">Fait</div>
                  </div>
                </div>
              </div>


              <div class="container">
                <div class="row">
                  <div class="col-sm">
                    Bilan Partie trois <p id="bilan3"></p>
                  </div>
                  <div class="col-sm">
                    <div id="done6">Fait</div>
                  </div>
                </div>
              </div>

          
          <script>
            function ok(id_balise, doc){
              if (doc == "0"){
                document.getElementById(id_balise).style.color = "red"
              }
              else{
                document.getElementById(id_balise).style.color = "green"
              };

            };
            ok("done1", "{{cv}}");
            ok("done2", "{{motivation}}");
            ok("done3", "{{message}}");
            ok("done4", "{{bilan1}}");
            ok("done5", "{{bilan2}}");
            ok("done6", "{{bilan3}}");
          </script>



            {% else %}


              <h2>Inscris-toi si ce n'est pas deja fait ! Connecte-toi</h2>
              <p class="lead mb-5">
              
                <a href="compte">Je m'inscris ou me connecte!</a></p>
                <br><br>

            {% endif %}
          
        </div>
      </div>
    </div>
  </section>








  {% if user.is_authenticated %}

  <!-- Services -->
  <section class="content-section bg-primary text-white text-center" id="services">
    <div class="container">
    
      <div class="content-section-heading">
        <h3 class="text-secondary mb-0">Nous vous proposons</h3>
        <h2 class="mb-5"></h2>
        <br><br><br><br>
  

      </div>
      
      <div class="row">

      
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3" id="icone_hover"
              onclick="document.location.href='compte'">
          
            <i class="icon-screen-smartphone"></i>
          </span>
          <h4>
            <strong>Mon compte</strong>
          </h4>
          <p class="text-faded mb-0">
            Visualisez votre CV, lettre de motivation et
            le message que VOUS décidez d'envoyer !
          </p>
        </div>

        
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3" id="icone_hover"
              onclick="document.location.href='comment_faire_mon_cv'">
              
            <i class="icon-pencil"></i>
          </span>
          <h4>
            <strong>Mes documents</strong>
          </h4>
          <p class="text-faded mb-0">Composez un Curriculum Vitae, une lettre de Motivation,
          et un message au recruteur
          à l'aide de nos conseilles</p>
        </div>

        
        <div class="col-lg-3 col-md-6">
          <span class="service-icon rounded-circle mx-auto mb-3" id="icone_bilan"
          onclick="document.location.href='le_questionnaire'">
              
            <i class="icon-mustache"></i>
          </span>
          <h4>
            <strong>Le questionnaire</strong>
          </h4>
          <p class="text-faded mb-0">Passez des questionnaires
          qui aideront le recruteur à vous connaitre ! Cela peut vous apporter un plus !</p>
        </div>

        
        <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
          <span class="service-icon rounded-circle mx-auto mb-3" id="icone_hover"
              onclick="document.location.href='app_email/questionnaire_email'">
              
            <i class="icon-like"></i>
          </span>
          <h4>
            <strong>Ma démarche</strong>
          </h4>
          <p class="text-faded mb-0">
                Faites votre démarche administrative !
                Cela vous fera gagner beaucoup de temps et comme on dit
                le temps c'est de l'argent !

          </p>
        </div>

      </div>
    </div>
  </section>




    {% else %}


  <!-- Services -->
  <section class="content-section bg-primary text-white text-center" id="services">
    <div class="container">
    
      <div class="content-section-heading">
        <h2 class="text-secondary mb-0">Nous vous proposons</h2><br><br><br><br>
                
          <h5 style="text-align:justify;">
          - Première étape: <em>Faites un compte.</em><br><br>
          - Deuxième étape: <em>Constituez un CV, une lettre de motivation et un message aux recruteurs.</em><br><br>
          - Troisième étape: <em>Passez le questionnaire d'aptitude ! (Seulement les qualités sont pris en compte.)</em><br><br>
          - Quatrième étape: <em>Remplissez un dernier questionnaire. Par ce questionnaire nous envoyons automatiquement
          vos documents au emplois qui vous interresent.</em>
          </h5>
          
      </div>
    

      </div>
    </div>
  </section>

  {% endif %}













  <style>
      #icone_bilan:hover,
      #icone_hover:hover{
          background:#ECB807
      }
  </style>















  <!-- Callout -->
  <section class="callout">
    <div class="container text-center">
      <h2 class="mx-auto mb-5">Faites
        <em>le questionnaire,</em>
        nous nous occupons du reste!</h2>

      {% if user.is_authenticated %}
      
          <a class="btn btn-primary btn-xl"
            onclick="redirection_questionnaire()" id="passer">Le passer!</a>

      {% else %}
      
         <a class="btn btn-primary btn-xl"
            onclick="document.location.href='compte'">Se connecter</a>

      {% endif %}
      <br><br><em>Attention vous ne pouvez le remplir qu'une seule fois par semaine.<br>
      <strong>Le bilan du questionnaire est visible depuis votre compte</strong><br></em><br><br>
      <h3>Soyez surpris de vous-meme!</h3>
    </div>
  </section>










  {% if user.is_authenticated %}

 

  <!-- Portfolio -->
  <section class="content-section" id="essentiel_connected">
    <div class="container">
      <div class="content-section-heading text-center">

      
        <h3 class="text-secondary mb-0">Vos Documents</h3>
        <h2 class="mb-5">L'essentiel de votre compte <strong>{{user}}</strong></h2>

        
      </div>

      
      <div class="row no-gutters">
        <div class="col-lg-6">
          <a class="portfolio-item">
            <span class="caption">
              <span class="caption-content">
                <h2>Curiculum Vitae</h2>
                
                <p class="mb-0">Mon cv !<br>
                  <input type='button' value="Modifier mon CV" class="choix" onclick='document.location.href="comment_faire_mon_cv"'><br>
                  <input type='button' value="Visualiser le PDF" class="choix" onclick='document.location.href="page_cv_pdf"'>

                  <div id="alert1"></div>
                </p>

                
              </span>
            </span>
            <img class="img-fluid" src="/static/home/img/portfolio-1.jpg" alt="">
          </a>
        </div>



        
        <div class="col-lg-6">
          <a class="portfolio-item">
            <span class="caption">
              <span class="caption-content">
                <h2>Lettre de Motivation</h2>
                
                <p class="mb-0">
                  Ma lettre de motivation
                  <input type='button' value="Modifier ma lettre" class="choix" onclick='document.location.href="comment_faire_mon_cv"'><br>
                  <input type='button' value="Visualiser le PDF" class="choix" onclick='document.location.href="page_motivation_pdf"'>

                  <div id="alert2"></div>
                </p>

                
              </span>
            </span>
            <img class="img-fluid" src="/static/home/img/portfolio-2.jpg" alt="">
          </a>
        </div>

        
        <div class="col-lg-6">
          <a class="portfolio-item">
            <span class="caption">
              <span class="caption-content">
                <h2>Message aux recruteurs</h2>
                
                <p class="mb-0">
                
                  Mon message
                  <input type='button' value="Modifier mon message" class="choix" onclick='document.location.href="comment_faire_mon_cv"'><br>
                  <input type='button' value="Visualiser le PDF" class="choix" onclick='document.location.href="page_message_pdf"'>

                  <div id="alert3"></div>

                </p>
                
              </span>
            </span>
            <img class="img-fluid" src="/static/home/img/portfolio-3.jpg" alt="">
          </a>
        </div>

        
        <div class="col-lg-6">
          <a class="portfolio-item">
            <span class="caption">
              <span class="caption-content">
                <h2>Le questionnaire</h2>
                
                <p class="mb-0">

                  Mon bilan<br>
                  <input type='button' value="Visualiser mon PDF" class="choix" onclick='document.location.href="page_bilan_pdf"'><br>

                  <div id="alert4"></div>

                </p>
                
              </span>
            </span>
            <img class="img-fluid" src="/static/home/img/portfolio-4.jpg" alt="">
          </a>
        </div>
      </div>

      
    </div>
  </section>

  {% else %}




  <!-- Portfolio -->
  <section class="content-section" id="essentiel_connected">
    <div class="container">
      <div class="content-section-heading text-center">

      
        <h3 class="text-secondary mb-0">Vos Documents</h3>
        <h2 class="mb-5">Modèle de CV, lettre de motivation, Bilan, message aux recruteurs</h2>

        
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6">
          <a class="portfolio-item">
            <span class="caption">
              <span class="caption-content">
                <h2>Curiculum Vitae</h2>
                <p class="mb-0">A yellow pencil with envelopes on a clean, blue backdrop!</p>
              </span>
            </span>
            <img class="img-fluid" src="/static/home/img/portfolio-1.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Ice Cream</h2>
                <p class="mb-0">A dark blue background with a colored pencil, a clip, and a tiny ice cream cone!</p>
              </span>
            </span>
            <img class="img-fluid" src="/static/home/img/portfolio-2.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Strawberries</h2>
                <p class="mb-0">Strawberries are such a tasty snack, especially with a little sugar on top!</p>
              </span>
            </span>
            <img class="img-fluid" src="/static/home/img/portfolio-3.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Workspace</h2>
                <p class="mb-0">A yellow workspace with some scissors, pencils, and other objects.</p>
              </span>
            </span>
            <img class="img-fluid" src="/static/home/img/portfolio-4.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>




  {% endif %}















  <!-- Call to Action -->
  <section class="content-section bg-primary text-white">
    <div class="container text-center">
    
      <h2 class="mb-4">A quoi sert ce site web?</h2>
      <br><br>
      <div>
        <h5 style="text-align:justify;">
        De vous aidez à trouvez un travail. De vous épargner la rechercher d'une entreprise. D'aller plus vite, et surtout de contribuer à la société !
        Vous n'avez pas de diplome ? ou de formation ? le questionnaire peut vous aider à mettre en avant vos aptitudes.<br><br><br><br><br><br>
  
        <center style='float:right;'>Nous espérons vous aider !<br>Projetto</center>
        </h5>
      </div>

    </div>
  </section>





  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="#">
            <i class="icon-social-github"></i>
          </a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; Your Website 2019</p>
    </div>
  </footer>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/home/vendor/jquery/jquery.min.js"></script>
  <script src="/static/home/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/home/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/static/home/js/stylish-portfolio.min.js"></script>

</body>

</html>





<style>
    #explication{
        color:white;
    }
    .choix{
      background:none;
      border:none;
      color:white;
    }
    .choix:hover{
      border:1px solid black;
    }

    #alert4,
    #alert3,
    #alert2,
    #alert1{
      color:black;
    }
    #ici{
      color:red;
    }
    
</style>













































