<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Landing Page - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/mon_compte/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/static/mon_compte/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/static/mon_compte/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="/static/mon_compte/css/landing-page.min.css" rel="stylesheet">


  <!-- Custom CSS -->
  <link href="/static/home/css/stylish-portfolio.min.css" rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>





</head>


<body>

  <!-- Navigation -->
  <section id="nav">
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="#page-top">Menu</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="">Accueil</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="compte">Mon Compte</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="compte#cv_icone">Mes Documents</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="le_questionnaire">Le Questionnaire</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="app_email/questionnaire_email">Ma démarche</a>
      </li>
    </ul>
  </nav>
  </section>



    <!-- Header -->
  <header class="masthead d-flex" style="background: no-repeat url('/static/home/img/premiere.jpg');">
    <div class="container text-center my-auto">
      <h1 class="mb-1">Projetto</h1>
      <h3 class="mb-5">
        <em>Troisièeme partie du questionnaire<br>
        Que dites vous de faire du calcul mental ?</em>
      </h3>
      <center><h5>Et si j'ai une mauvaise note ? Pas d'inquiétude ! nous ne prenons que les bonnes notes !</h5></center>
    </div>
    <div class="overlay"></div>
  </header>

    <br><br>
    <center>Vous avez 20 secondes et 3 passations. Faites de votre mieux !</center>
    <br><br>
    <center><a class="btn btn-primary btn-xl"
             id="passer" onclick="play('1')">Le passer!</a></center>
    <br><br><br><br>

    
  <center>
      <section id="1" style="display:none;">
            
            15 + 3&nbsp;&nbsp;<input type="text" id="un1"><br>
            19 - 3 &nbsp;&nbsp;<input type="text" id="un2"><br>
            13 + 3&nbsp;&nbsp;<input type="text" id="un3"><br>
            56 - 3 &nbsp;&nbsp;<input type="text" id="un4"><br>
            87 + 3&nbsp;&nbsp;<input type="text" id="un5"><br>
            54 - 3 &nbsp;&nbsp;<input type="text" id="un6"><br>
            21 + 3&nbsp;&nbsp;<input type="text" id="un7"><br>
            23 - 3 &nbsp;&nbsp;<input type="text" id="un8"><br>
            79 + 3&nbsp;&nbsp;<input type="text" id="un9"><br>
            48 - 3 &nbsp;&nbsp;<input type="text" id="un10"><br>
            53 + 3&nbsp;&nbsp;<input type="text" id="un11"><br>
            32 - 3 &nbsp;&nbsp;<input type="text" id="un12"><br>
            68 + 3&nbsp;&nbsp;<input type="text" id="un13"><br>
            98 - 3 &nbsp;&nbsp;<input type="text" id="un14"><br>
            74 + 3&nbsp;&nbsp;<input type="text" id="un15"><br>
            85 - 3 &nbsp;&nbsp;<input type="text" id="un16"><br>
            86 + 3&nbsp;&nbsp;<input type="text" id="un17"><br>
            42 - 3 &nbsp;&nbsp;<input type="text" id="un18"><br>
            28 + 3&nbsp;&nbsp;<input type="text" id="un19"><br>
            38 - 3 &nbsp;&nbsp;<input type="text" id="un20"><br>
            78 + 3&nbsp;&nbsp;<input type="text" id="un21"><br>
            27 - 3 &nbsp;&nbsp;<input type="text" id="un22"><br>
            24 + 3&nbsp;&nbsp;<input type="text" id="un23"><br>
            25 - 3 &nbsp;&nbsp;<input type="text" id="un24"><br>
            36 + 3&nbsp;&nbsp;<input type="text" id="un25"><br>
            69 - 3 &nbsp;&nbsp;<input type="text" id="un26"><br>
            47 + 3&nbsp;&nbsp;<input type="text" id="un27"><br>
            14 - 3 &nbsp;&nbsp;<input type="text" id="un28"><br>
            25 + 3&nbsp;&nbsp;<input type="text" id="un29"><br>
            36 - 3 &nbsp;&nbsp;<input type="text" id="un30"><br>
            47 + 3&nbsp;&nbsp;<input type="text" id="un31"><br>
            75 - 3 &nbsp;&nbsp;<input type="text" id="un32"><br>
            42 + 3&nbsp;&nbsp;<input type="text" id="un33"><br>
            64 - 3 &nbsp;&nbsp;<input type="text" id="un34"><br>
            62 + 3&nbsp;&nbsp;<input type="text" id="un35"><br>
            18 - 3 &nbsp;&nbsp;<input type="text" id="un36"><br>
            48 + 3&nbsp;&nbsp;<input type="text" id="un37"><br>
            23 - 3 &nbsp;&nbsp;<input type="text" id="un38"><br>
            26 + 3&nbsp;&nbsp;<input type="text" id="un39"><br>
            98 - 3 &nbsp;&nbsp;<input type="text" id="un40"><br>
            14 + 3&nbsp;&nbsp;<input type="text" id="un41"><br>
            89 - 3 &nbsp;&nbsp;<input type="text" id="un42"><br>
            74 + 3&nbsp;&nbsp;<input type="text" id="un43"><br>
            87 - 3 &nbsp;&nbsp;<input type="text" id="un44"><br>
            54 + 3&nbsp;&nbsp;<input type="text" id="un45"><br>
            
      </section>


     <input type="button" value="Continuer" onclick="continuer()"
         style="display:none;width:100px;" id="continuer"><br><br>


      <section id="2" style="display:none;">
            54 + 3&nbsp;&nbsp;<input type="text" id="un46"><br>
            56 - 3 &nbsp;&nbsp;<input type="text" id="un47"><br>
            43 + 3&nbsp;&nbsp;<input type="text" id="un48"><br>
            82 - 3 &nbsp;&nbsp;<input type="text" id="un49"><br>
            23 + 3&nbsp;&nbsp;<input type="text" id="un50"><br>
            91 - 3 &nbsp;&nbsp;<input type="text" id="un51"><br>
            34 + 3&nbsp;&nbsp;<input type="text" id="un52"><br>
            51 - 3 &nbsp;&nbsp;<input type="text" id="un53"><br>
            89 + 3&nbsp;&nbsp;<input type="text" id="un54"><br>
            69 - 3 &nbsp;&nbsp;<input type="text" id="un55"><br>
            48 + 3&nbsp;&nbsp;<input type="text" id="un56"><br>
            74 - 3 &nbsp;&nbsp;<input type="text" id="un57"><br>
            58 + 3&nbsp;&nbsp;<input type="text" id="un58"><br>
            25 - 3 &nbsp;&nbsp;<input type="text" id="un59"><br>
            34 + 3&nbsp;&nbsp;<input type="text" id="un60"><br>
            75 - 3 &nbsp;&nbsp;<input type="text" id="un61"><br>
            85 + 3&nbsp;&nbsp;<input type="text" id="un62"><br>
            64 - 3 &nbsp;&nbsp;<input type="text" id="un63"><br>
            83 + 3&nbsp;&nbsp;<input type="text" id="un64"><br>
            92 - 3 &nbsp;&nbsp;<input type="text" id="un65"><br>
            15 + 3&nbsp;&nbsp;<input type="text" id="un66"><br>
            99 - 3 &nbsp;&nbsp;<input type="text" id="un67"><br>
            51 + 3&nbsp;&nbsp;<input type="text" id="un68"><br>
            79 - 3 &nbsp;&nbsp;<input type="text" id="un69"><br>
            41 + 3&nbsp;&nbsp;<input type="text" id="un70"><br>
            52 - 3 &nbsp;&nbsp;<input type="text" id="un71"><br>
            69 + 3&nbsp;&nbsp;<input type="text" id="un72"><br>
            47 - 3 &nbsp;&nbsp;<input type="text" id="un73"><br>
            58 + 3&nbsp;&nbsp;<input type="text" id="un74"><br>
            36 - 3 &nbsp;&nbsp;<input type="text" id="un75"><br>
            74 + 3&nbsp;&nbsp;<input type="text" id="un76"><br>
            10 - 3 &nbsp;&nbsp;<input type="text" id="un77"><br>
            48 + 3&nbsp;&nbsp;<input type="text" id="un78"><br>
            11 - 3 &nbsp;&nbsp;<input type="text" id="un79"><br>
            57 + 3&nbsp;&nbsp;<input type="text" id="un80"><br>
            85 - 3 &nbsp;&nbsp;<input type="text" id="un81"><br>
            69 + 3&nbsp;&nbsp;<input type="text" id="un82"><br>
            36 - 3 &nbsp;&nbsp;<input type="text" id="un83"><br>
            78 + 3&nbsp;&nbsp;<input type="text" id="un84"><br>
            56 - 3 &nbsp;&nbsp;<input type="text" id="un85"><br>
            23 + 3&nbsp;&nbsp;<input type="text" id="un86"><br>
            13 - 3 &nbsp;&nbsp;<input type="text" id="un87"><br>
            46 + 3&nbsp;&nbsp;<input type="text" id="un88"><br>
            58 - 3 &nbsp;&nbsp;<input type="text" id="un89"><br>
            39 + 3&nbsp;&nbsp;<input type="text" id="un90"><br>
            39 - 3 &nbsp;&nbsp;<input type="text" id="un91"><br>
            27 + 3&nbsp;&nbsp;<input type="text" id="un92"><br>
            58 - 3 &nbsp;&nbsp;<input type="text" id="un93"><br>
            79 + 3&nbsp;&nbsp;<input type="text" id="un94"><br>
            98 - 3 &nbsp;&nbsp;<input type="text" id="un95"><br>
            69 + 3&nbsp;&nbsp;<input type="text" id="un96"><br>
            
        
        
      </section>


      <input type="button" value="continuer"
          onclick="continuer1()" id="continuer1" style="display:none;width:100px;"><br><br>
      
      <section id="3" style="display:none;">

            49 + 3&nbsp;&nbsp;<input type="text" id="un97"><br>
            16 - 3 &nbsp;&nbsp;<input type="text" id="un98"><br>
            25 + 3&nbsp;&nbsp;<input type="text" id="un99"><br>
            88 - 3 &nbsp;&nbsp;<input type="text" id="un100"><br>
            25 + 3&nbsp;&nbsp;<input type="text" id="un101"><br>
            48 - 3 &nbsp;&nbsp;<input type="text" id="un102"><br>
            25 + 3&nbsp;&nbsp;<input type="text" id="un103"><br>
            36 - 3 &nbsp;&nbsp;<input type="text" id="un104"><br>
            53 + 3&nbsp;&nbsp;<input type="text" id="un105"><br>
            57 - 3 &nbsp;&nbsp;<input type="text" id="un106"><br>
            23 + 3&nbsp;&nbsp;<input type="text" id="un107"><br>
            34 - 3 &nbsp;&nbsp;<input type="text" id="un108"><br>
            25 + 3&nbsp;&nbsp;<input type="text" id="un109"><br>
            10 - 3 &nbsp;&nbsp;<input type="text" id="un110"><br>
            57 + 3&nbsp;&nbsp;<input type="text" id="un111"><br>
            69 - 3 &nbsp;&nbsp;<input type="text" id="un112"><br>
            47 + 3&nbsp;&nbsp;<input type="text" id="un113"><br>
            14 - 3 &nbsp;&nbsp;<input type="text" id="un114"><br>
            96 + 3&nbsp;&nbsp;<input type="text" id="un115"><br>
            57 - 3 &nbsp;&nbsp;<input type="text" id="un116"><br>
            97 + 3&nbsp;&nbsp;<input type="text" id="un117"><br>
            12 - 3 &nbsp;&nbsp;<input type="text" id="un118"><br>
            56 + 3&nbsp;&nbsp;<input type="text" id="un119"><br>
            12 - 3 &nbsp;&nbsp;<input type="text" id="un120"><br>
            48 + 3&nbsp;&nbsp;<input type="text" id="un121"><br>
            90 - 3 &nbsp;&nbsp;<input type="text" id="un122"><br>
            46 + 3&nbsp;&nbsp;<input type="text" id="un123"><br>
            19 - 3 &nbsp;&nbsp;<input type="text" id="un124"><br>
            18 + 3&nbsp;&nbsp;<input type="text" id="un125"><br>
            26 - 3 &nbsp;&nbsp;<input type="text" id="un126"><br>
            39 + 3&nbsp;&nbsp;<input type="text" id="un127"><br>
            48 - 3 &nbsp;&nbsp;<input type="text" id="un128"><br>
            79 + 3&nbsp;&nbsp;<input type="text" id="un129"><br>
            54 - 3 &nbsp;&nbsp;<input type="text" id="un130"><br>
            19 + 3&nbsp;&nbsp;<input type="text" id="un131"><br>
            78 - 3 &nbsp;&nbsp;<input type="text" id="un132"><br>
            96 + 3&nbsp;&nbsp;<input type="text" id="un133"><br>
            91 - 3 &nbsp;&nbsp;<input type="text" id="un134"><br>
            97 + 3&nbsp;&nbsp;<input type="text" id="un135"><br>
            84 - 3 &nbsp;&nbsp;<input type="text" id="un136"><br>
            51 + 3&nbsp;&nbsp;<input type="text" id="un137"><br>
            52 - 3 &nbsp;&nbsp;<input type="text" id="un138"><br>
            32 + 3&nbsp;&nbsp;<input type="text" id="un139"><br>
            98 - 3 &nbsp;&nbsp;<input type="text" id="un140"><br>
            
        
        
      </section>
      <input type="button" value="end_three" id="end_three" style="display:none;">
  </center>






















  <!-- Call to Action -->
  <section class="call-to-action text-white text-center" id="question">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Aidez-nous à améliorer nos conseils!</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="text" size="40" placeholder="Entez votre conseil">
              </div>
              <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary">Valider</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>









  <!-- Footer -->
  <footer class="footer bg-light" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="#">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2019. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>


  <!-- Bootstrap core JavaScript -->
  <script src="/static/mon_compte/vendor/jquery/jquery.min.js"></script>
  <script src="/static/mon_compte/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/home/js/stylish-portfolio.min.js"></script>

 </body>
</html>

<style>
    input{
        width:50px
    }
</style>

<script>

function end_one(){
    document.getElementById("1").style.display = "none";
    document.getElementById("continuer").style.display = "block";    
};

function end_two(){
    document.getElementById("2").style.display = "none";
    document.getElementById("continuer1").style.display = "block";    
};


function end_three(){
    document.getElementById("end_three").click();

};

function continuer1(){
    document.getElementById("continuer1").style.display = "none";    
    document.getElementById("3").style.display = "block";
    window.setTimeout(end_three, 1000);
};




function continuer(){
    document.getElementById("continuer").style.display = "none";
    document.getElementById("2").style.display = "block";
    window.setTimeout(end_two, 1000);
};


function play(the_block1){
    document.getElementById("passer").style.display = "none";
    document.getElementById(the_block1).style.display = "block";
    window.setTimeout(end_one, 1000);
};





function recup_data(){

    var liste = []
    var liste1 = []
    
    for(var i = 1; i <= 140; i++){
        id = "un" + String(i)

        var resultat = document.getElementById(id).value;
        if (resultat == ""){
            liste1.push(0)
        }
        else{
            liste1.push(resultat)
        };
    };
    return liste1
    

};

jQuery("#end_three").on("click", function(e){
    
 resultat = recup_data()
 e.preventDefault();
  jQuery.ajax({
      data:{
          "resultat":String(resultat),
          'csrfmiddlewaretoken': '{{csrf_token}}',
      },
      type:"POST",
      url:"le_questionnaire_troisieme_partie"
  })
  .done(function(data){
      if (data.error){
          document.getElementById("#Alert").inner.html = "aie"; 
      }
      else{
          {}
          
          
      };
      
  });
});

</script>










