<!DOCTYPE html>
  <html lang="fr">


    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="jb" content="">
      <br><br>
      <title>Projetto</title>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
   
      
    </head>



    <body>
        <div>
            Info de connection
        </div>

        <section id="section_menu">
            <center>
                <input type="button" value="Menu"
                    onclick="document.location.href='/'">

                <input type="button" value="Créer un Compte"
                    onclick="document.location.href='compte'">
                    
                <input type="button" value="Créer mon Cv"
                    onclick="document.location.href='comment_faire_mon_cv'">
                    
                <input type="button" value="Mon apparence"
                    onclick="document.location.href='mon_apparence'">
                    
                <input type="button" value="Ma Démarche"
                    onclick="document.location.href='ma_demarche'">
            </center>
        </section>




        <center>
            Logo
        </center>



        <section id="section_explication">
            <div>
                <center>
                    Présentation
                </center>
            </div>


            <div>
                <center>
                    Explications
                </center>
            </div>
        </section>




        <section id="section_questionnaire">
            
            <div>
                <center>
                    <input type="button"
                        value="Commencons !">
                </center>
            </div>

    

            <div>
                <center>
                    <input type="text" value="">
                    <input type="text" value="">
                    <input type="text" value="">
                    <input type="text" value="">
                    <input type="text" value="">
                    <input type="text" value="">
                    <input type="text" value="">
                    <input type="text" value="">
                    <input type="text" value="">
                    <input type="text" value="">
                    <input type="text" value="">
                    <input type="text" value="">
                    <input type="text" value="">
                    <input type="text" value="">
                    <input type="text" value="">
                    <input type="text" value="">
                    <input type="text" value="">
                    <input type="text" value="">
                    <input type="text" value="">
                    <input type="text" value="">
                    <input type="text" value="">
                    <input type="text" value="">
                    <input type="text" value="">
                    <input type="text" value="">
                    <input type="text" value="">
                    <input type="text" value="">
                    <input type="text" value="">



                    
                </center>
            </div>




 
        </section>



































        
    </body>


    <footer>
        <center>
            contacte
        </center>
    </footer>
</html>


<script>
</script>

<style>
</style>




























