
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Projetto</title>

  <!-- Bootstrap Core CSS -->
  <link href="/static/home/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="/static/home/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="/static/home/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/static/home/css/stylish-portfolio.min.css" rel="stylesheet">

</head>

<body id="page-top">



  <!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="#page-top">Start Bootstrap</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#page-top">Home</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#about">About</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#services">Services</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#portfolio">Portfolio</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#contact">Contact</a>
      </li>
    </ul>
  </nav>




  <!-- Callout -->
  <section class="callout">
    <div class="container text-center">
      <h2 class="mx-auto mb-5">
        <em>le questionnaire</em>
      </h2>
      
      <h3>Prenez votre temps.<br>
      Détendez-vous, essayez d'etre le plus honnete possible!</h3><br>
      
      <em>
          Cette partie n'a pas de temps déterminée. Appuyé sur valider à la fin. Sans cette condition vos réponses
          ne seront pas enregistrées.
      </em><br><br>


      
    </div>
  </section>


    <section>
    
.Je suis bilieux(se).
--

-

-/+

+

++

2.Je me fais facilement des amis.





3.J’ai beaucoup d’imagination.





4.Je fais confiance aux autres.





5.J’accomplis les tâches avec succès.





6.Je me fâche facilement.





7.J’apprécie beaucoup les grandes réceptions et réunions.





8.J’estime que l’art est important.





9.J’utilise et je manipule les autres pour arriver à mes fins.





10.Je n’aime pas le désordre. J’aime ranger.





11.Je me sens souvent triste.
--

-

-/+

+

++

12.J’aime prendre en mains les situations et les événements.





13.J’éprouve des émotions profondes et variées.





14.J’adore aider les autres.





15.Je tiens mes promesses.





16.Je trouve qu’il est difficile d’approcher les autres.





17.Je suis toujours occupé(e), toujours sur la brèche.





18.Je préfère la diversité à la routine.





19.J’adore une bonne dispute, une bonne querelle.





20.Je travaille dur.





21.Je me laisse aller à des excès et je fais la bringue.
--

-

-/+

+

++

22.J’adore être dans le mouvement.





23.J’aime lire des livres et des articles stimulants.





24.Je crois être meilleur(e) que les autres.





25.Je suis toujours préparé(e).





26.Je panique rapidement.





27.Je suis une personne pleine d’entrain.





28.J’ai tendance à soutenir les candidats politiques en faveur du progrès et des réformes.





29.Je plains les sans-abris.





30.Je suis spontané(e). J’agis sans réfléchir.





31.Je crains le pire.
--

-

-/+

+

++

32.Je me sens à l’aise au milieu des gens.





33.J’adore les accès de fantaisie.





34.Je crois que les gens ont fondamentalement de bonnes intentions.





35.Quand je fais quelque chose, je le fais toujours bien.





36.Je m’irrite facilement.





37.Lors de réceptions, je parle avec beaucoup de personnes différentes.





38.Je vois dans les choses des beautés que les autres pourraient ne pas remarquer.





39.Je n’hésite pas à tricher pour prendre l’avantage.





40.J’oublie souvent de remettre les choses à la bonne place.





41.Je ne m’aime pas.
--

-

-/+

+

++

42.J’essaie de commander, de diriger les autres.





43.Je suis empathique. Je ressens les émotions d’autrui.





44.Je m’inquiète pour les autres.





45.Je dis la vérité.





46.J’ai peur d’attirer l’attention sur moi.





47.Je ne m’arrête jamais. Je suis toujours en mouvement.





48.Je préfère m’en tenir aux choses que je connais.





49.Je crie après les gens.





50.Je fais plus que ce que l’on attend de moi.





51.Je me laisse rarement aller à des excès.
--

-

-/+

+

++

52.Je me donne du mal pour vivre des aventures.





53.J’évite les discussions philosophiques.





54.J’ai une haute opinion de moi-même.





55.Je fais ce qui est à faire et réalise mes plans.





56.Je me laisse dépasser par les événements.





57.Je m’amuse beaucoup.





58.Je crois que rien n’est absolument vrai ou faux, bon ou mauvais.





59.J’éprouve de la compassion pour ceux qui n'ont pas la même chance que moi.





60.Je prends des décisions impétueuses.





61.J’ai peur de beaucoup de choses.
--

-

-/+

+

++

62.Si je peux, j’évite d’entrer en contact avec les gens.





63.J’adore rêvasser.





64.Je crois ce que les gens disent.





65.J’accomplis les tâches méthodiquement.





66.Je m’emporte fréquemment.





67.Je préfère être seul(e).





68.Je n’aime pas la poésie.





69.Je profite des autres.





70.Je laisse toujours les lieux en désordre.





71.J’ai souvent le cafard.
--

-

-/+

+

++

72.Je maîtrise les situations.





73.Je remarque rarement mes réactions émotionnelles et mes sentiments.





74.Je suis indifférent(e) aux sentiments des autres.





75.Je passe outre les règles.





76.Je ne me sens vraiment bien qu’avec des amis.





77.Je fais beaucoup de choses pendant mes temps libres.





78.Je n’aime pas les changements.





79.J’insulte les gens.





80.Je travaille juste ce qu’il faut pour m’en sortir.





81.Je résiste facilement aux tentations.
--

-

-/+

+

++

82.J’aime être casse-cou.





83.J’éprouve des difficultés à comprendre les idées abstraites.





84.J’ai une haute opinion de moi-même.





85.Je gaspille mon temps.





86.Je me sens incapable de prendre les choses en main.





87.J’adore la vie.





88.J’ai tendance à soutenir les candidats politiques qui défendent des idées traditionnelles et conventionnelles.





89.Je ne suis pas intéressé(e) par les problèmes des autres.





90.Je suis un fonceur/une fonceuse.





91.Je suis vite stressé(e).
--

-

-/+

+

++

92.Je garde mes distances par rapport aux autres.





93.J’aime me perdre dans mes idées.





94.Je me méfie des gens.





95.Je sais m’y prendre pour faire ce qui est à faire.





96.Je ne suis pas vite contrarié(e).





97.J’évite les foules.





98.Je n’aime pas visiter les galeries d’art ni les expositions.





99.Je ne suis pas coopératif/ive. Je fais obstacle aux plans d’autrui.





100.Je laisse traîner mes affaires.





101.Je me sens bien dans ma peau.
--

-

-/+

+

++

102.J’attends que les autres prennent les choses en main.





103.Je ne comprends pas les gens qui réagissent de manière émotionnelle.





104.Je n’ai pas de temps pour les autres.





105.Je ne tiens pas mes promesses.





106.Je ne me sens pas gêné(e) par les situations sociales difficiles.





107.J’aime aborder les choses sereinement.





108.Je suis attaché(e) aux conventions.





109.Je prends toujours ma revanche sur les autres.





110.J’investis peu de temps et d’efforts dans mon travail.





111.Je suis à même de contrôler mes envies.
--

-

-/+

+

++

112.Je me comporte comme un(e) cinglé(e) et de façon choquante.





113.Je ne suis pas intéressé(e) par les discussions théoriques.





114.Je vante mes qualités.





115.J’ai du mal à me mettre au travail.





116.Je reste calme sous la pression.





117.Je vois toujours le bon côté des choses.





118.J’estime qu’il faut réprimer sévèrement les délits.





119.J’essaie de ne pas penser aux nécessiteux.





120.J’agis sans réfléchir.





        

    </section>


    <script>
        function
    
    </script>


































  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="#">
            <i class="icon-social-github"></i>
          </a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; Your Website 2019</p>
    </div>
  </footer>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/home/vendor/jquery/jquery.min.js"></script>
  <script src="/static/home/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/home/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/static/home/js/stylish-portfolio.min.js"></script>

</body>

</html>





<style>

</style>





<script>


</script>











































