<!DOCTYPE html>
  <html lang="fr">


    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="jb" content="">
      <br><br>
      <title>Projetto</title>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
   
      
    </head>



    <body>
        <div>
            Info de connection
        </div>

    
        <center>
            <input type="button" value="Retour Menu"
            onclick="document.location.href='/'">
            <input type="button" value="Créer un Compte"
            onclick="document.location.href='compte'">
            <input type="button" value="Créer mon Cv"
            onclick="document.location.href='comment_faire_mon_cv'">
            <input type="button" value="Mon apparence"
            onclick="document.location.href='mon_apparence'">
        </center>

        
        <div>
            <center>
                OC TECHNIQUE
            </center>
        </div>



    </body>


    <footer>
        <center>
            contacte
        </center>
    </footer>
</html>


<script>
</script>

<style>
</style>




























