<!DOCTYPE html>
  <html lang="fr">


    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="jb" content="">
      <br><br>
      <title>Projetto</title>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
   
      
    </head>



    <body>
        <div>
            Info de connection
        </div>

    
        <center>
            <input type="button" value="Retour Menu"
            onclick="document.location.href='/'">
            <input type="button" value="Créer un Compte"
            onclick="document.location.href='compte'">
            <input type="button" value="Créer mon Cv"
            onclick="document.location.href='comment_faire_mon_cv'">
            <input type="button" value="Ma Démarche"
            onclick="document.location.href='ma_demarche'">
        </center>

        
        <div>
            <center>
                Pourquoi ton apparence est le plus important ?
            </center>
        </div>


        <div>
            <center>
                Modele d'apparence
            </center>
        </div>


        <div>
            <center>
                Conseille apparence
                Pas besoin de costart cravatte
                couleur unis
            </center>
        </div>



        <div>
            <center>
                Les chevuex
            </center>
        </div>



        <div>
            <center>
                Habits
            </center>
        </div>



        <div>
            <center>
                Chaussure
            </center>
        </div>




        <div>
            <center>
                Comportement NE SURCHARGE PAS TOI TU ES TOI
                PENSE A NIKO
            </center>
        </div>



        <div>
            <center>
                Ton langage
                PENSE A NIKO déchiré qui parlait a la mere a fef mdr
            </center>
        </div>













        
    </body>


    <footer>
        <center>
            contacte
        </center>
    </footer>
</html>


<script>
</script>

<style>
</style>




























