<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Landing Page - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/mon_compte/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/static/mon_compte/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/static/mon_compte/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="/static/mon_compte/css/landing-page.min.css" rel="stylesheet">


  <!-- Custom CSS -->
  <link href="/static/home/css/stylish-portfolio.min.css" rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
    <script type="text/javascript" src="html2canvas.js"></script>
  <script type="text/javascript" src="jspdf.min.js"></script>




  
</head>


<body>

  <!-- Navigation -->
  <section id="nav">
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="#page-top">Menu</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="">Accueil</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="compte">Mon Compte</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="compte#cv_icone">Mes Documents</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="le_questionnaire">Le Questionnaire</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="app_email/questionnaire_email">Ma démarche</a>
      </li>
    </ul>
  </nav>
  </section>

  
    <br><br>
    <div id="un" style="float:right;margin-right:200px;">Click</div>
    <br><br><br>







    
    <div class="container" id="EDITOR">
      <div class="row">


        
        <div class="col-sm-12 col-mg-5 col-lg-12" id="gauche">
            <br><br>
            <img src="eaze" style="float:right;margin-right:150px;margin-top:100px;">
            <h3>P R E N O M<br>
            <h3>N O M </h3><br>
            <h3 style="color:#79A9B7;">T I T R E &nbsp;&nbsp; DU  &nbsp;&nbsp; P O S T E</h3>
            <h5>T I T R E &nbsp;&nbsp;DE &nbsp;&nbsp;LA &nbsp;&nbsp;F O R M A T I O N</h5>
            {{cv1}}
        

            <br><br><br>

        
        </div>





    
        <div class="col-sm-12 col-mg-7 col-lg-5" id="gauche">

            
    
            <div style="background:#BECFEC;">
            
                <h3 style="color:#79A9B7;">C O M P E T E N C E S</h3>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
                <br><br><br>
                
            </div>
        
      
            <div style="background:#BECFEC;">
            
                <h3 style="color:#79A9B7;">ENVIRONEMENT</h3>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
                <br><br><br>
            </div>  
            
 
            
            <div style="background:#BECFEC;">
            
                <h3 style="color:#79A9B7;">SOFT SKILL</h3>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
                <br><br><br>
            </div> 
 


            <div style="background:#BECFEC;">
            
                <h3 style="color:#79A9B7;">CONTACT</h3>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
                <br><br><br>
            </div> 
            <br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>


        
      </div>
      
        <div class="col-sm-12 col-mg-7 col-lg-7" id="droite" style="float:right;margin-top:-1200px;">


            <div style="background:white;">
                <br>
                <h3 style="color:#79A9B7;">E D U C A T I O N </h3>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
                <br><br><br>
            </div>

        
            <div style="background:white;">
                <br>
                <h3 style="color:#79A9B7;">PROJET 1</h3>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
                <br><br><br>
            </div>



            <div style="background:white;">
                <br>
                <h3 style="color:#79A9B7;">PROJET 2</h3>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
                <br><br><br>
            </div> 


            <div style="background:white;">
                <br>
                <h3 style="color:#79A9B7;">PROJET 3</h3>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
                <br><br>
            </div> 

            <div style="background:white;">
                <br>
                <h3 style="color:#79A9B7;">UN PEU PLUS SUR MOI</h3>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
                <br><br><br>
            </div> 
            
        </div>















      <div>
    </div>
    










        
 



<br><br><br><br><br><br><br><br><br><br><br><br>










    <style>
        #gauche{
            background:#bdd0e7;
        }

        #contact{
            font-size:1.5em;
        }
        #un:hover,
        #deux:hover,
        #trois:hover{
            border:2px solid black;
        }
    </style>













  <!-- Testimonials -->
  <section class="testimonials text-center bg-light" id="Testimonials">
    <div class="container">

    
      <div class="row">


        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          
            <img class="img-fluid rounded-circle mb-3"
                src="/static/mon_compte/img/testimonials-2.jpg" alt=""
                id="un">
                
            <h5>Vous l'envoyez !</h5>
            <p class="font-weight-light mb-0">Envoyez le vous par mail !</p>
          </div>
        </div>



        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3"
                src="/static/mon_compte/img/testimonials-2.jpg" alt=""
                id="deux" onclick="document.location.href='comment_faire_mon_cv'">
                
            <h5>Retour à la composition de votre CV</h5>
            <p class="font-weight-light mb-0">Prenez votre temps !</p>
          </div>
        </div>



        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          
            <img class="img-fluid rounded-circle mb-3"
                src="/static/mon_compte/img/testimonials-2.jpg" alt=""
                id="trois" onclick="document.location.href='page_motivation'">
                
            <h5>Votre lettre de motivation</h5>
            <p class="font-weight-light mb-0">Allez visualiser votre lettre de motivation</p>
          </div>
        </div>



        
      </div>
    </div>
  </section>





  <!-- Call to Action -->
  <section class="call-to-action text-white text-center" id="question">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Aidez-nous à améliorer nos conseils!</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="text" size="40" placeholder="Entez votre conseil">
              </div>
              <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary">Valider</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>







  <!-- Footer -->
  <footer class="footer bg-light" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="#">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2019. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>




  <!-- Bootstrap core JavaScript -->
  <script src="/static/mon_compte/vendor/jquery/jquery.min.js"></script>
  <script src="/static/mon_compte/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/home/js/stylish-portfolio.min.js"></script>
</body>

</html>






<script>




var doc = new jsPDF();
var specialElementHandlers = {
    '#editor': function (element, renderer) {
        return true;
    }
};

$('#un').click(function () {
    document.getElementById("un").style.display = "none";
    document.getElementById("Testimonials").style.display = "none";
    document.getElementById("footer").style.display = "none";
    document.getElementById("nav").style.display = "none";
    document.getElementById("question").style.display = "none";

    var pdf = new jsPDF();
    pdf.addHTML(document.getElementById('EDITOR').value, function() {
        pdf.save('web.pdf');
    });

    document.getElementById("un").style.display = "block";
    document.getElementById("Testimonials").style.display = "block";
    document.getElementById("footer").style.display = "block";
    document.getElementById("nav").style.display = "block";
    document.getElementById("question").style.display = "block";
    
})
</script>













































