

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Landing Page - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/mon_compte/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/static/mon_compte/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/static/mon_compte/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="/static/mon_compte/css/landing-page.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/static/home/css/stylish-portfolio.min.css" rel="stylesheet">

</head>




<body>

    {% if user.authenticate %}
        salit
    {% else %}
        fefz
    {% endif %}






  <!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="#page-top">Start Bootstrap</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#page-top">Home</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#about">About</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#services">Services</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#portfolio">Portfolio</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#contact">Contact</a>
      </li>
    </ul>
  </nav>





  <!-- Masthead -->

 
  
  <header class="masthead text-white text-center" id="connected_picture">
      
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Construisez vos outils afin de construire votre avenir</h1>
        </div>
      </div>
    </div>
  </header>

  






  <!-- PARTIE CONNECTION OU INSCRIPTION -->



  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">


                <div class="col-lg-12">
                    
                        <input type="button" id="retour" value="Retour"
                            onclick="document.location.href = 'compte'"><br><br>

                        <h2>Inscription</h2><br><br>
                        
                        <div>

                        <form method="POST">
                        {% csrf_token %}
                            <center>


                            <input type="text" class="input" id="nom"
                                placeholder="Nom"><br><br>
                                 
                            <input type="text" class="input" id="prenom"
                                placeholder="Prénom"><br><br>
                            
                            <input type="date" class="input" id="date"
                                data-date-format="yyyy-MM-dd"><br><br>
                                
                            <input type="text" class="input" id="sexe""
                                placeholder="Sexe"><br><br>

                            <input type="button"
                                value="Ton adresse mail n'est pas professionel ?"><br><br>

                            
                            <input type="text" class="input" id="portable"
                                placeholder="Télephone Portable"><br><br>
                                
                            <input type="text" class="input" id="fixe"
                                placeholder="Télephone Fixe"><br><br>

                            <input type="text" class="input" id="adresse"
                                placeholder="Adresse"><br><br>


                            <input type="button" value="Valider" id="validation_inscription">
                                
                            </center>
                            {% csrf_token %}
                        </form>
                    </div>
                </div>

        
      </div>
    </div>
  </section>





  <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Une question ? un conseil ? Contactez nous !</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="text" class="form-control form-control-lg" placeholder="Entrez votre message">
              </div>
              <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>




























































  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="#">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2019. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/mon_compte/vendor/jquery/jquery.min.js"></script>
  <script src="/static/mon_compte/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/home/js/stylish-portfolio.min.js"></script>

</body>

</html>











<style>
    #connexion_champs,
    #inscription_champs{
        display:none;
    }
    .input{
        text-align:center;
    }
    #retour{
        float:left;
    }
    #validation1{
      display:none;
    }
</style>








<script>


function recup_inscription(){
    nom = document.getElementById("nom").value;
    prenom = document.getElementById("prenom").value;
    date = document.getElementById("date").value;
    sexe = document.getElementById("sexe").value;
    portable = document.getElementById("portable").value;
    fixe = document.getElementById("fixe").value;
    adresse = document.getElementById("adresse").value;

    return nom, prenom, date, sexe, portable, fixe, adresse
};






//----------------------------------------------------------------inscription

jQuery("#validation_inscription").on("click", function(e){

 nom, prenom, date, sexe, portable, fixe, adresse = recup_inscription()

 e.preventDefault();
  jQuery.ajax({
      data:{
          'inscriptionn':'inscriptionn',
          'nom':nom,
          'prenom':prenom,
          'date':date,
          'sexe':sexe,
          'portable':portable,
          'fixe':fixe,
          'adresse':adresse,
          'csrfmiddlewaretoken': '{{csrf_token}}' , 
      },
      type:"POST",
      url:"/account/register2/"
  })
  .done(function(data){
      if (data.error){
          document.getElementById("#Alert").inner.html = "aie";
      }
      else{
          document.location.href="/"
          
          
      };
      
  });
});












</script>








